{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_contact-banner pt-3 pb-4 bgs-lightblue">
<div class="container">
    <div class="row">
        <div class="col-lg-6  align-self-center ">
            <p class="cl-blue   fs-14 "># Write Tests. Check Results. Build Your Knowledge</p>
            <h2 class="test-bold fs-40 font-size cl-darkblue">Best Online Knowledge Building Platform</h2>
            <p class="cl-blue-1  fs-15 pt-4 right-padding">Loreum Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="{% static 'images/about-banner.png' %}" alt="" class="  img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_home-knowledge py-4 py-sm-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-5 pr-5 text-lg-left text-center">
                <img src="{% static 'images/knowledge.png' %}" class="img-fluid text-center text-lg-left " alt="Los Angeles">
            </div>       
            <div class="col-lg-6 col-12 align-self-center">
                    <p class="fs-14 cl-blue pt-3 mb-0">#Build Your Knowledge</p>
                
                <h2 class=" test-bold fs-35 head-size cl-black pt-md-4 pt-2 lh-md-55">About the Organization </h2>
                <p class="fs-15 cl-dark pt-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quo, quisquam ab qui amet quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quidem, reprehenderit eveniet at velit aliquid doloremque. Eligendi cupiditate officiis animi. Lorem ipsum dolor sit amet.</p>
                <p class="fs-15 cl-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quo, quisquam ab qui amet quae. Lorem ipsum dolor sit  amet consectetur adipisicing elit.amet consectetur adipisicing elit.</p>
            </div>  
        </div> 
    </div>    
</section> 
<section class="section_home-knowledge bgs-lightblue py-4 py-sm-5">
    <div class="container pt-3 py-sm-3">
        <div class="row">
            <div class="col-md-4 mx-auto mb-4 mb-md-0 dotted-line">
                <hr class="hr-line-grow">
                <div class=" round-img bg-white m-auto d-block "> 
                    <img src="{% static 'images/vision.png' %}" alt="">
                </div>
                
                <h4 class=" pt-3 test-semibold  text-center fs-20 cl-black pb-1">Our Vision</h4>
                <p class="fs-15 cl-dark text-center pl-lg-4 pr-lg-4">Lorem ipsum dolor,sit amet consectetur adipisicing elit.Quibusdam libero dolore tempora cupiditate sunt pariatur culpa sequi dolorum maiores repellat.</p>
            </div>
            <div class="col-md-4 mx-auto mb-4 mb-md-0 dotted-line">
                <hr class="hr-line-grow">
                <div class="round-img d-block m-auto bg-white"> 
                    <img src="{% static 'images/mission.png' %}"alt="">
                </div>

                <h4 class="text-center pt-3 test-semibold fs-20 cl-black pb-1">Our Mision</h4>
                <p class="fs-15 cl-dark text-center pl-lg-4 pr-lg-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam libero dolore tempora cupiditate sunt pariatur culpa sequi dolorum maiores repellat.</p>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="round-img  d-block m-auto  bg-white"> 
                    <img src="{% static 'images/our-value.png' %}"class="img-position pt-2" alt="">
                </div>

                <h4 class="text-center pt-3 test-semibold fs-20 cl-black pb-1">Our Value</h4>
                <p class="fs-15 cl-dark text-center pl-lg-4 pr-lg-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam libero dolore tempora cupiditate sunt pariatur culpa sequi dolorum maiores repellat.</p>
            </div>
        </div>                            
    </div>
</section>
<section class="section_home-student-say py-4 py-sm-5">
    <div class="container py-3">
        <div class="text-center">
             <h2 class=" test-bold head-size fs-45 cl-black mb-3 mb-sm-4">What Students Say</h2>
             <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-md-3 pt-1 student">Lorem ipsum dolor sit amet adipisicing
                 elit. Commodi aut recusandae illo. Voluptatibus illo delectus totam earum
                 quo unde provident exercitationem eligendi! provident exercitationem.</p>
         </div>
         <div class="review-slider owl-carousel owl-theme pt-lg-4">
             <div class="item row">
                 <div class="col-lg-2">
                     <img src="{% static 'images/review-1.png' %}" alt="John Doe" class="mr-5 rounded-circle"
                         style="width:78px;">
                 </div>
                 <div class="col-lg-10 double-quates">
                     <h6 class="feedback-font  test-bold cl-black padding fs-18">John Doe</h6>
                     <p class="fs-13 cl-dark mb-0">JEE Student</p>
                     <div class="quates-img">
                         <img src="{% static 'images/double-qts.png' %}" alt="">
                     </div>
                     <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">Lorem ipsum dolor sit, amet consectetur
                         adipisicing elit. Distinctio minus voluptas
                         similique quasi reprehenderit ipsam illo quo corrupti sapiente hic!</p>

                 </div>
             </div>
             <div class="item row">
                 <div class="col-lg-2">
                     <img src="{% static 'images/review-2.png' %}" alt="John Doe" class="mr-5 rounded-circle"
                         style="width:78px;">
                 </div>
                 <div class="col-lg-10 double-quates">
                     <h6 class="feedback-font  test-bold cl-black padding fs-18">John Doe</h6>
                     <p class="fs-13 cl-dark mb-0">JEE Student</p>
                     <div class="quates-img">
                         <img src="{% static 'images/double-qts.png' %}" alt="">
                     </div>
                     <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">Lorem ipsum dolor sit, amet consectetur
                         adipisicing elit. Distinctio minus voluptas
                         similique quasi reprehenderit ipsam illo quo corrupti sapiente hic!</p>

                 </div>
             </div>
             <div class="item row">
                 <div class="col-lg-2">
                     <img src="{% static 'images/review-1.png' %}" alt="John Doe" class="mr-5 rounded-circle"
                         style="width:78px;">
                 </div>
                 <div class="col-lg-10 double-quates">
                     <h6 class="feedback-font test-bold cl-black padding fs-18">John Doe</h6>
                     <p class="fs-13 cl-dark mb-0">JEE Student</p>
                     <div class="quates-img">
                         <img src="{% static 'images/double-qts.png' %}" alt="">
                     </div>
                     <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">Lorem ipsum dolor sit, amet consectetur
                         adipisicing elit. Distinctio minus voluptas
                         similique quasi reprehenderit ipsam illo quo corrupti sapiente hic!</p>

                 </div>
             </div>
             <div class="item row">
                 <div class="col-lg-2">
                     <img src="{% static 'images/review-2.png' %}" alt="John Doe" class="mr-5 rounded-circle"
                         style="width:78px;">
                 </div>
                 <div class="col-lg-10 double-quates">
                     <h6 class="feedback-font test-bold cl-black padding fs-18">John Doe</h6>
                     <p class="fs-13 cl-dark mb-0">JEE Student</p>
                     <div class="quates-img">
                         <img src="{% static 'images/double-qts.png' %}" alt="">
                     </div>
                     <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">Lorem ipsum dolor sit, amet consectetur
                         adipisicing elit. Distinctio minus voluptas
                         similique quasi reprehenderit ipsam illo quo corrupti sapiente hic!</p>

                 </div>
             </div>
             <div class="item row">
                 <div class="col-lg-2">
                     <img src="{% static 'images/review-1.png' %}" alt="John Doe" class="mr-5 rounded-circle"
                         style="width:78px;">
                 </div>
                 <div class="col-lg-10 double-quates">
                     <h6 class="feedback-font test-bold cl-black padding fs-18">John Doe</h6>
                     <p class="fs-13 cl-dark mb-0">JEE Student</p>
                     <div class="quates-img">
                         <img src="{% static 'images/double-qts.png' %}" alt="">
                     </div>
                     <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">Lorem ipsum dolor sit, amet consectetur
                         adipisicing elit. Distinctio minus voluptas
                         similique quasi reprehenderit ipsam illo quo corrupti sapiente hic!</p>

                 </div>
             </div>


         </div>  
    </div>
</section> 
{% endblock content %}