{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_contact-banner pt-3 pb-4 bgs-lightblue">
<div class="container">
    <div class="row">
        <div class="col-lg-6  align-self-center ">
            <!-- <p class="cl-blue   fs-14 "># Write Tests. Check Results. Build Your Knowledge</p> -->
            <h2 class="test-bold fs-40 font-size cl-darkblue">First Edu is your step towards wisdom.</h2>
            <ul class="cl-blue-1  fs-15 pt-4 right-padding pl-4">
                <li>Knowledge and Education are the foundations which provide <span class="font-weight-bold">"A right beginning"</span> &amp;</li>
                <li>A <span class="font-weight-bold">right</span> beginning is the pillar to lead a <span class="font-weight-bold">"beautiful life"</span>.</li>
            </ul>
            <p class="cl-blue-1  fs-15 pt-4 right-padding">The paradigm shift in India's education sector puts the parents dumb folded and they really
                become clueless about what and how to choose in the ocean of educational study material.
                In this ocean of online study material where everyone is just participating and none of them
                is actually aware of his/her actual standing.</p>
            <p class="cl-blue-1  fs-15 pt-4 right-padding">FirstEdu <span class="font-weight-bold">is a unique concept where we try to find out the young geniuses among us by way
                of conducting All India level tests for bright students of every class.</span></p>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="{% static 'images/about-banner.png' %}" alt="" class="  img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_home-knowledge py-4 py-sm-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-5 pr-5 text-lg-left text-center">
                <img src="{% static 'images/knowledge.png' %}" class="img-fluid text-center text-lg-left " alt="Los Angeles">
            </div>       
            <div class="col-lg-6 col-12 align-self-center">
                    <!-- <p class="fs-14 cl-blue pt-3 mb-0">#Build Your Knowledge</p> -->
                
                <h2 class=" test-bold fs-35 head-size cl-black pt-md-4 pt-2 lh-md-55">FirstEdu Advantage</h2>
                <h3 class=" test-bold fs-28 head-size cl-black pt-md-3 pt-1 lh-md-55">Cutting Edge Methodology</h3>
                <h4 class=" test-bold fs-24 head-size cl-black pt-md-2 pt-1 lh-md-55">FirstEdu Methodology</h4>
                <ul class="fs-15 cl-dark pt-md-4 pl-4">
                    <li>Prepate question sets based on the international standard. These questions are specially designed to inculcate the problem solving ability in a child</li>
                    <li>Conduct online tests to gauge the students</li>
                    <li>Results and detailed analysis covering the areawise strength of student</li>
                    <li>Awards &amp; Recognitions to motivate the students to perform better each and every time</li>
                </ul>
            </div>
        </div>
    </div>    
</section> 
<section class="section_home-knowledge bgs-lightblue py-4 py-sm-5">
    <div class="container pt-3 py-sm-3">
        <div class="row">
            <div class="col-md-4 mx-auto mb-4 mb-md-0 dotted-line">
                <hr class="hr-line-grow">
                <div class=" round-img bg-white m-auto d-block "> 
                    <img src="{% static 'images/vision.png' %}" alt="">
                </div>
                
                <h4 class=" pt-3 test-semibold  text-center fs-20 cl-black pb-1">ONLINE EXAMINATION:</h4>
                <p class="fs-15 cl-dark text-center pl-lg-4 pr-lg-4">Take the exams from the comfort of your home. All you require is a laptop/desktop and internet connection.</p>
                <p class="fs-15 cl-dark text-center pl-lg-4 pr-lg-4">Free and Fair exams will be conducted. We will take screenshots, restrict other windows and browsers to check on cheatings.</p>
            </div>
            <div class="col-md-4 mx-auto mb-4 mb-md-0 dotted-line">
                <hr class="hr-line-grow">
                <div class="round-img  d-block m-auto  bg-white"> 
                    <img src="{% static 'images/our-value.png' %}"class="img-position pt-2" alt="">
                </div>

                <h4 class="text-center pt-3 test-semibold fs-20 cl-black pb-1">Awards and Accolades:</h4>
                <p class="fs-15 cl-dark text-center pl-lg-4 pr-lg-4">Exciting Awards and Accolades for meritorious one. </p>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="round-img d-block m-auto bg-white"> 
                    <img src="{% static 'images/mission.png' %}"alt="">
                </div>

                <h4 class="text-center pt-3 test-semibold fs-20 cl-black pb-1">Who We Are</h4>
                <p class="fs-15 cl-dark text-center pl-lg-4 pr-lg-4">We are a team of experts from IIT having extensive experience and gone through the grill ourselves. We understand the areas to focus and also how to polish to make an uncut raw carbon stone into glittery diamonds.</p>
            </div>
        </div>                            
    </div>
</section>
<section class="section_home-student-say py-4 py-sm-5">
    <div class="container py-3">
        <div class="text-center">
             <h2 class=" test-bold head-size fs-45 cl-black mb-3 mb-sm-4">What Students Say</h2>
             <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-md-3 pt-1 student">Lorem ipsum dolor sit amet adipisicing
                 elit. Commodi aut recusandae illo. Voluptatibus illo delectus totam earum
                 quo unde provident exercitationem eligendi! provident exercitationem.</p>
         </div>
         <div class="review-slider owl-carousel owl-theme pt-lg-4">
            {% for testiObj in testimonials %}
                <div class="item row">
                    <div class="col-lg-2">
                        <img src="{{testiObj.image.url}}" alt="{{testiObj.image_alt_name}}" class="mr-5 rounded-circle"
                            style="width:78px;">
                    </div>
                    <div class="col-lg-10 double-quates">
                        <h6 class="feedback-font  test-bold cl-black padding fs-18">{{testiObj.client_name}}</h6>
                        <p class="fs-13 cl-dark mb-0">{{testiObj.client_role}}</p>
                        <div class="quates-img">
                            <img src="{% static 'images/double-qts.png' %}" alt="">
                        </div>
                        <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">{{testiObj.description}}</p>
                    </div>
                </div>
            {% endfor %}


         </div>  
    </div>
</section> 
{% endblock content %}