
{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_team-banner bgs-lightblue py-4 py-sm-5">
<div class="container">
    <div class="row">
        <div class="col-lg-6 align-self-center ">
            <p class="cl-blue fs-14"># Lorem ipsum</p>
            <h2 class="test-bold fs-40 font-size cl-darkblue">Result Announcement</h2>
            <p class="cl-blue-1 fs-15 pt-4 right-padding">Loreum Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="{% static 'images/career_benifi_img.png' %}" alt="" class="img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_home-annouce bgs-sky pt-4 pt-sm-5 pb-4">
     <div class="container py-3 mt-3">
         <div class="row justify-content-center">
            {% for result in resultsObj %}
            <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                    <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">{{result.title}}</h3>
                    <img src="{{result.winner_image.url}}" alt="{{result.winner_image_alt_name}}" class="img-fluid">
                    <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">{{result.winner_name}}</h4>
                    <p class="test-bold fs-15 cl-yellow mb-3">{{result.winner_mark}}</p>
                    <p>{{result.winner_description}}</p>
                </div>
            </div>
            {% endfor %}
         </div>
     </div>
 </section>
{% endblock content %}