
{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_team-banner bgs-lightblue py-4 py-sm-5">
<div class="container">
    <div class="row">
        <div class="col-lg-6 align-self-center ">
            <p class="cl-blue fs-14"># Lorem ipsum</p>
            <h2 class="test-bold fs-40 font-size cl-darkblue">Result Announcement</h2>
            <p class="cl-blue-1 fs-15 pt-4 right-padding">Loreum Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="{% static 'images/career_benifi_img.png' %}" alt="" class="img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_home-annouce bgs-sky pt-4 pt-sm-5 pb-4">
     <div class="container py-3 mt-3">
         <div class="row justify-content-center">
             <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                 <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                     <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">Lorem ipsum Ipsum text</h3>
                     <img src="{% static 'images/review-1.png' %}" alt="" class="img-fluid">
                     <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">Lorem ipsum</h4>
                     <p class="test-bold fs-15 cl-yellow mb-3">500 / 600</p>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur esse,
                         dignissimos</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                 <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                     <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">Lorem ipsum Ipsum text</h3>
                     <img src="{% static 'images/review-1.png' %}" alt="" class="img-fluid">
                     <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">Lorem ipsum</h4>
                     <p class="test-bold fs-15 cl-yellow mb-3">500 / 600</p>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                 <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                     <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">Lorem ipsum Ipsum text</h3>
                     <img src="{% static 'images/review-1.png' %}" alt="" class="img-fluid">
                     <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">Lorem ipsum</h4>
                     <p class="test-bold fs-15 cl-yellow mb-3">500 / 600</p>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur esse,
                         dignissimos</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                 <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                     <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">Lorem ipsum Ipsum text</h3>
                     <img src="{% static 'images/review-1.png' %}" alt="" class="img-fluid">
                     <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">Lorem ipsum</h4>
                     <p class="test-bold fs-15 cl-yellow mb-3">500 / 600</p>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur esse,
                         dignissimos</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                 <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                     <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">Lorem ipsum Ipsum text</h3>
                     <img src="{% static 'images/review-1.png' %}" alt="" class="img-fluid">
                     <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">Lorem ipsum</h4>
                     <p class="test-bold fs-15 cl-yellow mb-3">500 / 600</p>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur</p>
                 </div>
             </div>
             <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                 <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                     <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">Lorem ipsum Ipsum text</h3>
                     <img src="{% static 'images/review-1.png' %}" alt="" class="img-fluid">
                     <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">Lorem ipsum</h4>
                     <p class="test-bold fs-15 cl-yellow mb-3">500 / 600</p>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tenetur esse,
                         dignissimos</p>
                 </div>
             </div>
         </div>
     </div>
 </section>
{% endblock content %}