{% load static %}
{% load custom_tags %}
{% get_five_class_exams as class_exams %}
{% get_five_competitive_exams as competitive_exams %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Education</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

</head>
<body> 
    <!-- sweet alert -->
    {% block sweetalert %}
        <script>
            {% if messages %}
                {% for message in messages %}
                swal({
                    title: "{{message.tags|title}}",
                    text: "{{message|safe}}",
                    icon: "{{message.tags}}",
                });
                {% endfor %}
            {% endif %}
        </script>
    {% endblock sweetalert %}


    <!-- marquee -->
    <section class="section_header-marquee">
        <div class="text-white bgs-black d-flex align-items-center py-2">
            <marquee width="100%" class="align-right" behavior="scroll">{{marqueeText|safe}}</marquee>
        </div> 
    </section>

    <!-- navbar -->
    <section class="section-header  navbar-fixeded">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light container">
                        <a class="navbar-brand" href="{% url 'application:index-page' %}">
                            <img src = "{% static 'logo.png' %}" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse " id="collapsibleNavbar">
                            <ul class="navbar-nav ml-auto d-flex align-items-center head-menu  menu-active-navbar_1  ">
                                <li class="nav-item list ">
                                    <a href="{% url 'application:index-page' %}" class="nav-link cl-lightblue" id="id_home">HOME</a>
                                </li>

                                <li class="nav-item list">
                                    <a href="{% url 'application:about-us' %}" class="nav-link  cl-lightblue" id="id_about">ABOUT US</a>
                                </li>

                                <li class="nav-item list">
                                    <a href="{% url 'application:why-choose-us' %}" class="nav-link  cl-lightblue" id="">WHY CHOOSE US</a>
                                </li>
                                <li class="nav-item list d-block d-lg-none">
                                    <a href="{% url 'application:school' %}" class="nav-link  cl-lightblue" id="">SCHOOL EXAM</a>
                                </li>
                                <li class="nav-item list d-block d-lg-none">
                                    <a href="{% url 'application:competitive_page' %}" class="nav-link  cl-lightblue" id="">COMPETITIVE EXAM</a>
                                </li>
                                <li class="nav-item list text-center d-none d-lg-block">
                                    <p class="mb-0">EXAMINATION</p>
                                    <div class="d-inline-flex">
                                        <a href="{% url 'application:school' %}" class="cl-lightblue fs-14" id="id_exam">SCL</a> 
                                        <span class="px-1">|</span> 
                                        <a href="{% url 'application:competitive_page' %}" class="cl-lightblue fs-14" id="id_exam">COMP</a>
                                        <span class="px-1">|</span> 
                                        <a href="{% url 'application:olympiad_page' %}" class="cl-lightblue fs-14" id="id_exam">Olymp</a>
                                    </div>
                                </li>

                                <li class="nav-item list">
                                    <a href="{% url 'application:blogs-page' %}" class="nav-link  cl-lightblue" id="id_blog">BLOG</a>
                                </li>

                                <li class="nav-item list">
                                    <a href="{% url 'application:contact-us' %}" class="nav-link  cl-lightblue" id="id_contact">CONTACT US</a>
                                </li>
                                {% if not user.is_authenticated %}
                                <div class="form-button bgs-blue d-flex align-items-center ml-lg-2 ml-xl-4">
                                    <a href="{% url 'application:signin' %}" class="cl-white login-hover decrt-none fs-14 ">LOGIN </a>
                                    <span class="sign-bar cl-white ">  |  </span>
                                    <a href="{% url 'application:signup' %}" class=" cl-white login-hover     decrt-none fs-14">  SIGN UP</a>
                                </div>
                                {% else %}
                                <div class="form-button bgs-blue d-flex align-items-center ml-lg-2 ml-xl-4">
                                    <a href="{% url 'application:account-dashboard' %}" class="cl-white login-hover decrt-none fs-14 ">DASHBOARD </a>
                                    <span class="sign-bar cl-white ">  |  </span>
                                    <a href="{% url 'application:logout' %}" class=" cl-white login-hover decrt-none fs-14"> LOGOUT</a>
                                </div>
                                {% endif %}
                            </ul>
                        </div>
                    </nav> 
                </div>
            </div>
        </div>
        <hr class="my-0">  
    </section>

    <!-- page contents -->
    {% block content %}
    
    {% endblock content %}

    <!-- Ask us here -->
    <section class="section_footer-enquiry bgs-yellow  py-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-8 align-self-center">
                    <h3 class="fs-25 cl-black-1 mb-0 enquiry-h3 pt-3 pb-3">Do you want ask anything to us? Ask us here</h3>
                </div>
                <div class="col-xl-4 col-md-4 text-center text-md-right align-self-center py-2">
                    <a href="{% url 'application:contact-us' %}"
                        class="bgs-black text-white arrow button-size1 fs-13 lh-16 decrt-none d-inline-block">CLICK HERE TO ASK <span
                            class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                            height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                            <path id="arrow-color" data-name="Path 3"
                                d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                transform="translate(-3.278 -102.821)" fill="#fff" />
                        </svg></a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <section class="section_footer bgs-black pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 pb-sm-3 pb-lg-0">
                    <h6 class="fs-17 test-semibold cl-white pb-md-3">About Company</h6>
                    <p class="fs-13 cl-light about-company pr-xl-5">Lorem ipsum dolor sit adipisicing elit. Fuga molestias,
                        esse eos architecto magni voluptas.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consectetur,Earum consectetur.</p>
                </div>
   
                <div class="col-sm-11 col-md-6 col-lg-4 col-xl-5">
                   <div class="row">
                       <div class="col-6">
                           <h6 class="fs-17 test-semibold cl-white pb-3">School Exam</h6>
                           <ul class="list-unstyled ">
                                {% for class_exam in class_exams %}
                                    <li>
                                        <a href="/checkout/{{class_exam.id}}?type=class" class="fs-13 cl-light decrt-none footer_link-hover1">{{class_exam.title}}</a>
                                    </li>
                                {% endfor %}
                           </ul>
                       </div>
                       <div class="col-6 pl-0 pl-sm-3">
                           <h6 class="fs-17 test-semibold cl-white pb-3">Competitive Exam</h6>
                           <ul class="list-unstyled">
                                {% for competitive_exam in competitive_exams %}
                                    <li>
                                        <a href="/checkout/{{competitive_exam.id}}?type=competitive-exam" class="fs-13 cl-light decrt-none footer_link-hover1">{{competitive_exam.exam_name}}</a>
                                    </li>
                                {% endfor %}
                           </ul>
                       </div>
                   </div>
                </div>
   
                <div class="col-sm-11 col-md-6 col-lg-5 col-xl-4 pt-3 pt-md-0">
                    <div class="row">
                        <div class="col-4 col-sm-6 col-md-4 pr-0">
                            <h6 class="fs-17 test-semibold cl-white pb-3">Quick Links</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'application:about-us' %}" class="fs-13 cl-light decrt-none footer_link-hover1">About Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'application:why-choose-us' %}" class="fs-13 cl-light decrt-none footer_link-hover1">Why Choose Us</a>
                                </li>
                                <li>
                                    <a href="{% url 'application:blogs-page' %}" class="fs-13 cl-light decrt-none footer_link-hover1">Blog</a>
                                <li>
                                    <a href="{% url 'application:announcement' %}" class="fs-13 cl-light decrt-none footer_link-hover1">Announcement</a>
                                </li>
                                <li style = "line-height: 18px; padding: 6px 0px;">
                                    <a href="{% url 'application:importance-of-exam' %}" class="fs-13 cl-light decrt-none footer_link-hover1" style = "line-height: 18px;">Importance of Exam</a>
                                </li>
                                <li>
                                    <a href="{% url 'application:events' %}" class="fs-13 cl-light decrt-none footer_link-hover1">Events</a>
                                </li>
                                <li>
                                    <a href="{% url 'application:contact-us' %}" class="fs-13 cl-light decrt-none footer_link-hover1">Contact
                                        Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-8 col-sm-6 col-md-8 pl-xl-5">
                            <h6 class="fs-17 test-semibold cl-white pb-3">Get in Touch</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <p class="fs-13 cl-light decrt-none">Loreum ipsum is simply<br> dummy text the printing<br>
                                       text - 560043</p>
                                </li>
                                <li class="mb-2">
                                    <a href="tel:+4733378901"
                                        class="fs-13 cl-light decrt-none footer_link-hover1"><i class="far fa-phone-alt pr-2"></i>+919876543210</a>
                                </li>
                                <li>
                                    <a href="mailto: info@companydomain.com"
                                        class="fs-13 cl-light decrt-none footer_link-hover1"><i class="far fa-envelope pr-2"></i>info@companydomain.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-7 pb-sm-3 pt-sm-3 px-4">
                    <p class="fs-13 cl-light mb-1 mb-sm-3">&copy; Copyright 2022 The Working School. All Rights Reserved | 
                        <a href="{% url 'terms-and-conditions' %}" class="fs-13 cl-yellow decrt-none footer_link-hover">
                            Terms and Conditions
                        </a> |
                        <a href="{% url 'privacy-policy' %}" class="fs-13 cl-yellow decrt-none footer_link-hover">Privacy Policy</a>
                    </p>
                </div>
                <div class="col-md-5 pb-3 align-self-center px-4 text-left text-md-right">
                    <p class="fs-13 cl-light mb-0 mb-sm-3">Designed and Developed by <a href="http://www.nexevo.in/" target="blank" class="fs-13 cl-yellow decrt-none footer_link-hover">Nexevo Technologies </a> </p>
                </div>
            </div>
        </div>
    </section>
    <div class="section-whatsapp">
        <a href="https://wa.me/+91458654528" target="_blank"><img src="{% static 'images/whatsapp.png' %}" alt="" class="img-whatsapp br-50"></a>
    </div>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- <script src="js/popper.min.js"></script> -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'common_js/dj_common_scripts.js' %}"></script>
   
</body>
   {% block script %}
    
    
   {% endblock script %}
   
</html>