{% extends 'application_base.html' %}

{% block content %}
<section class="section_blog-banner bgs-lightblue py-4 py-sm-5">
<div class="container">
    <div class="row">
        <div class="col-lg-6 align-self-center ">
            <p class="cl-blue fs-14"># Lorem ipsum</p>
            <h2 class="test-bold fs-40 font-size cl-darkblue">All Blogs</h2>
            <p class="cl-blue-1 fs-15 pt-4 right-padding">Loreum Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="assets\images\olympaid-banner.png" alt="" class="img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_home-blog bgs-sky py-4 py-sm-5">
    <div class="container py-3">
        <div class="row" id="blogContainer">
            {% for obj in object_list  %}
            <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3 blogDiv">
                <div class="blog-content bgs-white h-100 p-3 br-20">
                    <a href="{{obj.get_absolute_url}}"><img src="{{obj.image.url}}" alt="{{obj.image_alt_name}}" class="img-fluid br-15"></a>
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 my-3">{{obj.title}}</h3>
                    <p>{{obj.description}}</p>
                    <a href="{{obj.get_absolute_url}}"  class="fs-16 test-bold decrt-none cl-darkblue d-inlne-block">Read More
                        <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                            height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                            <path id="arrow-color" data-name="Path 3"
                                d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                transform="translate(-3.278 -102.821)" fill="#022a4b" />
                        </svg></a>
                </div>
            </div>
            
            {% endfor %}
            
        </div>
        <div class="col-12 text-center pt-4"> 
            <a href="javascript:void(0);" id="loadMore" class="text-white load-more fs-13 decrt-none cl-white bgs-black d-inline-block py-3">LOAD MORE </a> 
            </div>    
    </div>
</section>
{% endblock content %}

{% block script %}


<script>

    $("#loadMore").click(function(){
    var howManyBlogs = $(".blogDiv").length;
    console.log(howManyBlogs)
    $.ajax({
        type: 'post',
        headers: {
            'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
        },
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            blogCount:howManyBlogs,
        },
        dataType: 'json',
        success:function(response){
            var parsedData = JSON.parse(response["data"]);
            var blog_url = "{{blog_url}}";
            
            for(var i=0;i<parsedData.length;i++){
                var modelData = parsedData[i];
                var data = parsedData[i]["fields"];
                var s = modelData["pk"];
                var img = response["media_url"]+data["image"];
                var blogDetailUrl = parsedData[i]["fields"]["url"];
                var completeBlogDetailUrl = window.location.origin+"/"+blog_url+"/"+blogDetailUrl;
                var div = `<div class="col-lg-4 col-sm-6 pb-4 mb-lg-3 blogDiv">
                                <div class="blog-content bgs-white h-100 p-3 br-20">
                                    <a href="${completeBlogDetailUrl}"><img src="${img}" alt="${data["image_alt_name"]}" class="img-fluid br-15"></a>
                                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 my-3">${data["title"]}</h3>
                                    <p>${data["description"]}</p>
                                    <a href="${completeBlogDetailUrl}"  class="fs-16 test-bold decrt-none cl-darkblue d-inlne-block">Read More
                                        <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                                            height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                            <path id="arrow-color" data-name="Path 3"
                                                d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                transform="translate(-3.278 -102.821)" fill="#022a4b" />
                                        </svg></a>
                                </div>
                            </div>`;
                $("#blogContainer").append(div);
                
            }
            
        }   
    });
});

</script>


{% endblock script %}




