{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_checkout bgs-sky py-3 py-sm-5">
    <div class="container py-3">
        <div class="row mx-0">
            <div class="col-lg-9 col-12 mx-auto bg-white  px-4 pb-5 pt-4 p-sm-5">
                <h2 class="test-semibold fs-30 cl-black pb-3">Checkout</h2>
                <div class="bgs-lightblue p-4">
                    <div class="row align-items-center pb-3 pb-md-2">
                        <div class="col-md-3">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0">Class Name <span class="float-md-right test-bold">:</span></p> 
                        </div>
                        <div class="col-md-9">
                            <p class="pl-xl-5 pl-md-4 fs-15 cl-black mb-0 test-bold">class 6</p> 
                        </div>
                    </div>
                    <div class="row align-items-center pb-3 pb-md-2">
                        <div class="col-md-3">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0">Subjects <span class="float-md-right test-bold">:</span></p>
                        </div>
                        <div class="col-md-9">
                            <p class="pl-xl-5 pl-md-4 fs-15 cl-black mb-0 test-bold">4</p>
                        </div>
                    </div>
                    <div class="row align-items-center pb-3 pb-md-2">
                        <div class="col-md-3">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0">Papers <span class="float-md-right test-bold">:</span></p>
                        </div>
                        <div class="col-md-9">
                            <p class="pl-xl-5 pl-md-4 fs-15 cl-black mb-0 test-bold">10</p>
                        </div>
                    </div>
                    <div class="row align-items-center pb-3 pb-md-2">
                        <div class="col-md-3">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0">Price <span class="float-md-right test-bold">:</span></p>
                        </div>
                        <div class="col-md-9">
                            <p class="pl-xl-5 pl-md-4 fs-15 cl-black mb-0 test-bold">&#x20b9 20000</p>
                        </div>
                    </div>
                </div>
                <div class="py-4 py-sm-5 px-4">
                    <div class="row align-items-center pb-3 pb-md-2">
                        <div class="col-sm-4 col-md-3">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0">Name <span class="float-sm-right test-bold">:</span></p> 
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <p class="pl-xl-5 pl-md-4 fs-15 cl-black mb-0 test-bold">John Doe</p> 
                        </div>
                    </div>
                    <div class="row align-items-center pb-3 pb-md-2">
                        <div class="col-sm-4 col-md-3">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0">Mobile No <span class="float-sm-right test-bold">:</span></p>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <p class="pl-xl-5 pl-md-4 fs-15 cl-black mb-0 test-bold">+91 9876543212</p>
                        </div>
                    </div>
                    <div class="row align-items-center pb-3 pb-md-2">
                        <div class="col-sm-4 col-md-3">
                            <p class="fs-15 test-bold cl-black mb-1 mb-md-0">Email ID <span class="float-sm-right test-bold">:</span></p>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <p class="pl-xl-5 pl-md-4 fs-15 cl-black mb-0 test-bold">name@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="checkout-btm px-4">
                    <a href="enrolled.php" class="text-white d-inline-block fs-15 checkout-bttn bgs-black decrt-none">Continue<span
                            class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                            height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                            <path id="arrow-color" data-name="Path 3"
                                d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                transform="translate(-3.278 -102.821)" fill="#fff" />
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}