    <style>
    .section_header-marquee,
    .section-header,
    .section_footer,
    .section_footer-enquiry {
        display: none;
    }
    </style>
    {% extends 'application_base.html' %}
    {% load custom_tags %}
    {% block content %}
    <section class="section-attend-test pt-4 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-right mb-3">
                        <a class="fs-15 cl-grey under-line" href="#" onclick="goBack()">Back</a>
                    </div>
                    {% if class_obj and subject_obj %}
                    
                    <div class="row mx-0 bgs-lightgrey px-4 px-sm-5 pt-4 pb-2 mb-4">
                        <div class="col-sm-6 px-0">
                            <p> <span class="ts-name-title cl-black test-semibold ">Class Name</span> : <span
                                    class="pl-3 cl-grey ">{{class_obj.title}}</span> </p>
                            <p> <span class="ts-name-title1 cl-black test-semibold">Paper Name</span> : <span
                                    class="pl-3 cl-grey ">{{paper_obj.title}}</span> </p>
                        </div>
                        <div class="col-sm-6 px-0">
                            <p> <span class="pr-4  fs-15 cl-black test-semibold">Subject Name </span> : <span
                                    class="pl-4 fs-15 cl-grey "> {{subject_obj.title}}</span></p>
                            <p> <span class="pr-4 fs-15 cl-black test-semibold">Date</span> : <span
                                    class="pl-4 fs-15 cl-grey" id="current-date"></span></p>
                        </div>
                    </div>
                    {% endif %}

                    {% if not class_obj and subject_obj %}
                    
                    <div class="row mx-0 bgs-lightgrey px-4 px-sm-5 pt-4 pb-2 mb-4">
                        <div class="col-sm-6 px-0">
                            <p> <span class="ts-name-title cl-black test-semibold ">Subject Name</span> : <span
                                    class="pl-3 cl-grey ">{{subject_obj.title}}</span> </p>
                            <p> <span class="ts-name-title1 cl-black test-semibold">Paper Name</span> : <span
                                    class="pl-3 cl-grey ">{{paper_obj.title}}</span> </p>
                        </div>
                        <div class="col-sm-6 px-0">
                            <p> <span class="pr-4 fs-15 cl-black test-semibold">Date</span> : <span
                                class="pl-4 fs-15 cl-grey" id="current-date"></span></p>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if competitive_exam_obj %}
                    
                    <div class="row mx-0 bgs-lightgrey px-4 px-sm-5 pt-4 pb-2 mb-4">
                        <div class="col-sm-6 px-0">
                            <p> <span class="ts-name-title cl-black test-semibold ">Exam Name</span> : <span
                                    class="pl-3 cl-grey ">{{competitive_exam_obj.exam_name}}</span> </p>
                            <p> <span class="ts-name-title1 cl-black test-semibold">Paper Name</span> : <span
                                    class="pl-3 cl-grey ">{{paper_obj.title}}</span> </p>
                        </div>
                        <div class="col-sm-6 px-0">
                            <p> <span class="pr-4 fs-15 cl-black test-semibold">Date</span> : <span
                                class="pl-4 fs-15 cl-grey" id="current-date"></span></p>
                        </div>
                    </div>
                    {% endif %}
                    {% if paper_only %}
                    <div class="row mx-0 bgs-lightgrey px-4 px-sm-5 pt-4 pb-2 mb-4">
                        <div class="col-sm-6 px-0">
                            <p> <span class="ts-name-title1 cl-black test-semibold">Paper Name</span> : <span
                                    class="pl-3 cl-grey ">{{paper_obj.title}}</span> </p>
                        </div>
                        <div class="col-sm-6 px-0">
                            <p> <span class="pr-4 fs-15 cl-black test-semibold">Date</span> : <span
                                class="pl-4 fs-15 cl-grey" id="current-date"></span></p>
                        </div>
                    </div>
                    {% endif %}


                    <div class="bgs-sky p-3 p-sm-5">
                        <div class="general-ins">
                            <h2 class="fs-20 cl-black test-bold pb-2 ">General Instructions</h2>
                            <div class="exam-instructions">
                                {{paper_obj.instructions|safe}}
                            </div>
                        </div>
                        <div class="scheme-part pt-2">
                            <h2 class="fs-20 cl-black test-bold pb-2 ">Marking Scheme For All Two Sections</h2>
                            <div class="exam-instructions">
                                {% if not competitive_exam_obj and subject_obj %}
                                {% for section_detail in section_details %}
                                <p><b>{{section_detail.name}} ({{section_detail.section_questions_details}}) : </b> {{section_detail.description}}</p>
                                {% endfor %}
                                {% else %}
                                    <p><b>Total questions : {{total_ques}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="test-exam-btn bgs-black cl-white br-10 cursor start-test my-5" id="startTest">Start Test</button>
                    </div>
                    <div class="start-exam py-4 py-sm-5">

                         <div class="exam-pagination stepwizard">
                            <div class="stepwizard-row setup-panel">
                            <ul class="mb-4 stepwizard-step">
                                {% for ques in all_ques %}
                                <li class="{% if forloop.counter == 1 %}current{% endif %}"><a style="color:rgb(255, 255, 0);" class="quesCount" data="{{ques.id}}" type="button">{{forloop.counter}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        </div> 
                        <div class="d-lg-flex justify-content-between align-items-center pb-4 pb-sm-5">
                            <div>
                                {% with section_details|first as first_doc %}
                                <h2 class="fs-20 cl-black test-bold mb-1" id="sectionName">{{ first_doc.name }}</h2>
                                {% endwith %}
                            </div>

                            <!-- TODO | Current questions and Pending questions are calculated based on the total count of the questions which is read from GET request -->

                            <div class="d-sm-flex align-items-center justify-content-end">
                                <button class="bgs-yellow border-0 cl-black test-bold px-4 py-2 br-30 mr-1 mr-sm-3">Current Question : <span id="currentQuesCount">1</span></button>
                                <button class="bgs-yellow border-0 cl-black test-bold px-4 py-2 br-30 mr-1 mr-sm-3">Pending Question : <span id="pendingQuesCount">0</span></button>
                                <div class="count-down-box d-inline-flex align-items-center br-10 mt-3 mt-sm-0">
                                    <span class="cl-white">Time Left :</span>
                                    <p class="fs-20 mb-0 cl-white pl-2" id="ten-countdown"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row part-1-attend-test">
                            
                            <div class="col-12 setup-content" id="step-1">
                                <div class="ques-type position-relative">
                                    <div class="ques-option-type-1 bgs-white d-flex ques-br">
                                        <div class="count-sec-box d-inline-flex align-items-center br-10">
                                            <span class="cl-white"><i class="far fa-clock"></i> :</span>
                                            <p class="fs-16 mb-0 cl-white pl-2" id="ten-countsec"></p>
                                        </div>
                                        <div class="num-test-ques">
                                            <p id="questionNumber">1.</p>
                                        </div>
                                        <div>
                                            <p id="quesText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, temporibus
                                                sit. Sit dolore omnis culpa veritatis aperiam quidem officiis incidunt modi,
                                                enim temporibus harum animi voluptate pariatur asperiores atque illo?
                                            </p>
                                            <img src = "https://dummyimage.com/50x50/000/fff" id = "question-image" class = "question-image"/>
                                            <div class="choose-correct-one">
                                                <div class="row mx-0 mx-sm-2">
                                                    <div class="label-title custom_radio col-md-5 col-12 my-3  ">
                                                        <span class="checkmark bgs-black cl-white">A</span>
                                                        <span class=" inpuy-label-value" id="option1Value">0&#176;</span>
                                                        <input type="radio" name="radiogroup" id="option1">
                                                        <label for="option1"></label>
                                                    </div>
                                                    <div class="label-title custom_radio col-md-5 col-12 offset-md-1 my-3 ">
                                                        <span class="checkmark  bgs-black cl-white">B</span>
                                                        <span class=" inpuy-label-value" id="option2Value">15&#176;</span>
                                                        <input type="radio" name="radiogroup"  id="option2">
                                                        <label for="option2"></label>
                                                    </div>
                                                    <div class="label-title custom_radio col-md-5 col-12 my-3 ">
                                                        <span class="checkmark  bgs-black cl-white">C</span>
                                                        <span class=" inpuy-label-value " id="option3Value">30&#176;</span>
                                                        <input type="radio" name="radiogroup" id="option3">
                                                        <label for="option3"></label>
                                                    </div>
                                                    <div class="label-title custom_radio col-md-5 col-12 offset-md-1 my-3 ">
                                                        <span class="checkmark  bgs-black cl-white">D</span>
                                                        <span class=" inpuy-label-value" id="option4Value">None of these</span>
                                                        <input type="radio" name="radiogroup" id="option4">
                                                        <label for="option4"></label>
                                                    </div>

                                                </div>



                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-groups col-12 text-center  pt-4 my-4 ">
                                <button type="button" id="prev_ques" class="cursor mt-1 px-4 px-sm-5 py-2 lh-35 border-0 bgs-black cl-white mr-3">Previous Question</span>
                                </button>
                                <button type="button" id="next_ques" class="cursor mt-1 px-5 py-2 lh-35 border-0 bgs-black cl-white">Next Question</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
    {% block script %}

    <script>
        var TIMER;
        var answersWithIds = [];

        window.onbeforeunload = function ()
        {
            return "";
        };

        function goBack() {
            window.history.back();
        }

        function countdown(elementName, minutes, seconds) {
           var element, endTime, hours, mins, msLeft, time;
           function twoDigits(n) {
               return (n <= 9 ? "0" + n : n);
           }
           function updateTimer() {
               msLeft = endTime - (+new Date);
               if (msLeft < 1000) {
                   element.innerHTML = "Time is up!";
                   finalSubmit();
               } else {
                   time = new Date(msLeft);
                   hours = time.getUTCHours();
                   mins = time.getUTCMinutes();
                   element.innerHTML = (hours ? hours + ':' + twoDigits(mins) : mins) + ':' + twoDigits(time.getUTCSeconds());
                   setTimeout(updateTimer, time.getUTCMilliseconds() + 500);
               }
           }
           element = document.getElementById(elementName);
           endTime = (+new Date) + 1000 * (60 * minutes + seconds) + 500;
           updateTimer();
        }

        function countsec( elementName, minutes, seconds ) {

            var element, endTime, hours, mins, msLeft, time;

            function twoDigits( n ){
                return (n <= 9 ? "0" + n : n);
            }
            function updateTimer(){
                msLeft = endTime - (+new Date);
                if ( msLeft < 1000 ) {
                    element.innerHTML = "Time is up!";
                    if($("#next_ques").text() != "Submit"){
                        $('#next_ques').trigger('click');
                    }else{
                        $('#prev_ques').trigger('click');
                    }

                } else {
                    time = new Date( msLeft );
                    hours = time.getUTCHours();
                    mins = time.getUTCMinutes();
                    element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                    TIMER = setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
                }
            }
            element = document.getElementById( elementName );
            endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
            updateTimer();
            
        }

        function addDataToAnswersWithIds(quesId,ans,clicked_time,ans_id){
            const searchId = quesId;
            const index = answersWithIds.findIndex(obj => obj.id === searchId);
            if (index !== -1) {
                var ob = answersWithIds[index];
                ob["id"] = quesId;
                ob["ans"] = ans;
                ob["submitted_time"] = clicked_time;
                ob["ans_id"] = ans_id;

            } else {
                var stringFy = {
                        "id":quesId,
                        "ans":ans,
                        "submitted_time":clicked_time,
                        "ans_id":ans_id,
                };
                answersWithIds.push(stringFy);
                    
            }

        }

        function setCheckedOption(quesId){
            const searchId = quesId;
            const index = answersWithIds.findIndex(obj => obj.id === searchId);
            if (index !== -1) {
                var ob = answersWithIds[index];
                if(ob["ans_id"] != undefined){
                    var p = "#"+ob["ans_id"];
                    $(p)[0].checked = true;
                }
            }
        }

        function finalSubmit(){
            var data=[];
            for(var i=0;i<answersWithIds.length;i++){
                var parse = JSON.stringify(answersWithIds[i]);
                data.push(parse);
            }

            $.ajax({
                type: 'post',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
                },
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action:"finalSubmit",
                    data:data,
                },
                dataType: 'json',
                success: function (response) {
                    swal({
                        title: "Paper Submitted",
                        icon: "success",
                    }).then(function(isConfirm) {
                        window.location = response["redirect_url"];
                    });
                    
                },
                error: function(response) {
                   alert("Something Wrong");
                }
            });
        }

        function getQuestion(id){
            $.ajax({
                type: 'post',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
                },
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action:"getQues",
                    quesId:id,
                },
                dataType: 'json',
                success: function (response) {
                    var timesUp = false;
                    var quesText = response["question"];
                    var option1 = response["option1"];
                    var option2 = response["option2"];
                    var option3 = response["option3"];
                    var option4 = response["option4"];
                    var timeLimit = response["time_limit"];
                    var sectionName = response["section_name"];
                    var time = parseFloat(timeLimit);

                    var checkBox = $('input[name="radiogroup"]:checked')[0];
                    if(checkBox != undefined){
                        checkBox.checked = false;
                    }
                    $("#option1").attr("disabled", false);
                    $("#option2").attr("disabled", false);
                    $("#option3").attr("disabled", false);
                    $("#option4").attr("disabled", false);

                    $("#quesText").text(quesText);
                    $("#sectionName").text(sectionName);

                    $("#option1Value").text(option1);
                    $("#option2Value").text(option2);
                    $("#option3Value").text(option3);
                    $("#option4Value").text(option4);

                    $("#option1").val(option1);
                    $("#option2").val(option2);
                    $("#option3").val(option3);
                    $("#option4").val(option4);

                    if (response["image"]){
                        $("#question-image").show()
                        $("#question-image").attr("src", response["image"])
                    }
                    else{
                        $("#question-image").hide()
                    }

                    var totSeconds ;

                    for(var i=0;i<answersWithIds.length;i++){
                        var parsedJson = answersWithIds[i];
                        if(id == parsedJson["id"]){
                            var submitted_time = parsedJson["submitted_time"];
                            if (submitted_time != "Time is up!"){
                                var splitted_times = submitted_time.split(":");
                                switch(splitted_times.length) {
                                    case 2:
                                    var minut = parseInt(splitted_times[0]); 
                                    var sec = parseInt(splitted_times[1]);
                                    var minToSec = minut * 60;
                                    totSeconds = minToSec + sec;
                                    
                                    break;
                
                                    case 3:
                                        var hour = parseInt(splitted_times[0]); 
                                        var minut = parseInt(splitted_times[1]); 
                                        var sec = parseInt(splitted_times[2]);
                                        var hrsToSec =  (hour * 60) * 60;
                                        var minToSec = minut * 60;
                                        totSeconds = hrsToSec + minToSec + sec;

                                    break;
                
                                    default:
                                    // code block
                                }

                            }else{
                                timesUp = true;
                                window.clearTimeout(TIMER);
                                $("#option1").attr("disabled", true);
                                $("#option2").attr("disabled", true);
                                $("#option3").attr("disabled", true);
                                $("#option4").attr("disabled", true);
                                $("#ten-countsec").text("Time is up!");
                            }
                        }
                    }
                    
                    setCheckedOption(id);
                    
                    if(!timesUp){
                        // first time loading
                        if(TIMER == undefined){
                            countsec( "ten-countsec",00, time );
                        }else{
                            // while move to the next ques state we should clear the previous timer count
                            if(totSeconds != undefined){
                                window.clearTimeout(TIMER);
                                countsec( "ten-countsec",00,totSeconds );
                            }else{

                                window.clearTimeout(TIMER);
                                countsec( "ten-countsec",00,time );
                            }
                            
                        }

                    }
                    
                },
                error: function(response) {
                   alert("Question paper has no questions.");
                }
            });
        }

        

        $(document).on("click","#startTest", function(){
            if (confirm("are you ready to start") == true) {
                var g = $(".quesCount").attr("data");
                getQuestion(g);
    
                $('.start-exam').show();
                $('.start-test').hide();

                var time = parseFloat("{{tot_time}}");
                countdown( "ten-countdown", time, 00 );

            }
            

        });

       /*$(".quesCount").click(function(event){
            event.preventDefault();

            var ans = $('input[name="radiogroup"]:checked').val();
            var g = $(this).attr("data");
            getQuestion(g);

        });*/

        $("#prev_ques").click(function(){
            var ans = $('input[name="radiogroup"]:checked').val();
            var ans_id = $('input[name="radiogroup"]:checked').attr("id");
            var quesId;
            var currentQus;
            var previousQus;
            var totQues = $(".quesCount").length;
            var limit;
            var clicked_time = $("#ten-countsec").text();
            var pendingQuestions = $("li." + "pending").find("*").length;



            $.each($(".quesCount"), function(key, value) {
                var hasclass = $(this).parent().hasClass("current");
                
                if(hasclass){
                    var currentQuesNum = parseInt($(this).text());
                    quesId = $(this).attr("data");

                    $("#currentQuesCount").text(currentQuesNum-1);
                    $("#questionNumber").text(currentQuesNum-1);

                    var previousQues = currentQuesNum - 1; 

                    currentQus = currentQuesNum;
                    previousQus = previousQues;
                }
            });


            if(previousQus == 1){
                limit = true;
            }

            if(limit){
               $("#prev_ques").attr("disabled",true);

            }
            if($(`.quesCount:eq(${currentQus-1})`).parent().hasClass("current attend")){
                $(`.quesCount:eq(${currentQus-1})`).parent().removeClass("current attend").addClass("current");
                var QusId = $(`.quesCount:eq(${currentQus-1})`).attr("data");
                
            }else{
                $(`.quesCount:eq(${previousQus-1})`).parent().attr("class", "current");
                $(`.quesCount:eq(${currentQus-1})`).parent().attr("class", "");
                var QusId = $(`.quesCount:eq(${previousQus-1})`).attr("data");
            }
            getQuestion(QusId);
            addDataToAnswersWithIds(quesId, ans, clicked_time, ans_id);

            if($("#next_ques").text() == "Submit"){
                $("#next_ques").text("Next Question");
            }

            $("#pendingQuesCount").text(pendingQuestions-1);
            

        });

        

        
        $("#next_ques").click(function(){
                let btn_text = $(this).text()
                var ans = $('input[name="radiogroup"]:checked').val();
                var ans_id = $('input[name="radiogroup"]:checked').attr("id");
                var quesId;
                
                var pendingQuestions = 1;

                var currentQus;
                var previousQus;
                var totQues = $(".quesCount").length;
                var clicked_time = $("#ten-countsec").text();

                
                $.each($(".quesCount"), function() {
                    var hasclass = $(this).parent().hasClass("current");
                    var pending = $(this).parent().hasClass("pending");
                    
                    if(pending){
                        pendingQuestions++;
                    }

                    if(hasclass){
                        var currentQuesNum = parseInt($(this).text()); 
                        quesId = $(this).attr("data");
                        if(currentQuesNum != totQues){

                            $("#currentQuesCount").text(currentQuesNum+1);
                            $("#questionNumber").text(currentQuesNum+1);

                            
                        }
                        var previousQues = currentQuesNum - 1; 
                        var nextQues = currentQuesNum; 

                        currentQus = currentQuesNum;
                        previousQus = previousQues;
                    }
                });
            

                if(ans != undefined){
                    $(`.quesCount:eq(${previousQus})`).parent().addClass("attend");
                }else{
                    $(`.quesCount:eq(${previousQus})`).parent().addClass("pending");
                }
                $(`.quesCount:eq(${currentQus})`).parent().addClass("current");
                

                if(totQues-1 >= previousQus+1){
                    var nextQusId = $(`.quesCount:eq(${previousQus+1})`).attr("data");
                    getQuestion(nextQusId);
                    addDataToAnswersWithIds(quesId, ans, clicked_time, ans_id);
                    
                }
               
                if(totQues-1 == previousQus+1){
                    $(this).text("Submit");

                }
                
                if($('#prev_ques').prop('disabled')){
                    $("#prev_ques").attr("disabled",false);
                }
                if(btn_text == "Submit"){
                    addDataToAnswersWithIds(quesId, ans, clicked_time, ans_id);
                    finalSubmit();
                }
                var pendingQuestions = $("li." + "pending").find("*").length;
                $("#pendingQuesCount").text(pendingQuestions);

        });



    </script>
    {% endblock script %}