{% extends 'application_base.html' %}
{% load static %}

{% block sweetalert %}

<script>
    {% if messages %}
        {% for message in messages %}
          swal({
            title: "{{message.tags|title}}",
            text: "{{message|safe}}",
            icon: "{{message.tags}}",
        });
        {% endfor %}
    {% endif %}
  </script>

{% endblock sweetalert %}

{% block content %}
    <section class="forget-password-section py-5 bgs-lightblue">
        <div class="container forget-password-box">
            <div class="row align-items-center px-xl-5">
                <div class="col-lg-6">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="forget-password-from">
                            <h1 class="fs-25 cl-black test-semibold  pb-2">Forgot Password</h1>
                            <p>Grow your knowledge</p>
                            <div class="form-groups col-lg-10 col-12 pb-3 pt-1 px-0">
                                <input type="text" name="email_id"  placeholder="Email ID*" id="emailId"  maxlength="140"  class="form-control" required>
                            </div>
                            <div class="form-groups col-lg-10 col-12 pb-3 pt-1 px-0">
                                <input type="text" name="otp" placeholder="OTP"  maxlength="6"  class="form-control textToNumbers" required>
                            </div>
                            <div class="form-groups col-lg-10 col-12 pb-3 pt-1 px-0">
                                <input type="text" name="new_password"  placeholder="Enter the New Password"   maxlength="20"   class="form-control" required>
                            </div>
                            <div class="form-groups col-lg-10 col-12 pt-4 px-0">
                                <input  type="submit" value="SUBMIT" class="mt-1  forget-btn w-100 cursor">
                            </div>
                            <div class="form-groups col-lg-10 col-12 pt-4 text-center px-0">
                                <a class="mt-1 forget-btn-1 w-100 lh-30 text-white cursor d-block" id="sendOtp">SEND OTP</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0 d-none d-sm-block text-center">
                    <img class="img-fluid sign-banner"  src="{% static 'images/sign-up-banner.svg' %}" alt="Forget-password">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
<script>
   $("#sendOtp").click(function(){
    var emailId = $("#emailId").val();
    
    console.log(typeof emailId);
    if (emailId != ""){
        $.ajax({
            type: 'post',
            headers: {
                'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
            },
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              action:"sendOtp",
              emailId:emailId
            },
            dataType: 'json',
            success: function (response) {
                console.log(response);
                swal({
                    title: response["title"],
                    icon: response["icon"],
                });
            },
            error: function(response) {
               alert("Something Wrong");
            }
        });
    }else{
        swal({
            title: "Email ID is required",
            icon: "error",
        });
    }

    
   });
</script>

{% endblock script %}