
{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="py-5">
    <div class="container">
      <h1 class="test-bold fs-35 head-size-1 cl-black lh-55 mb-5">
        Exams: Necessary for student's growth
      </h1>
        <div class="row">
            <div class="col-12">
                <h2 class="test-bold fs-25 head-size-2 cl-black lh-40 mb-3">Exams not a tool to make someone anxious but to make everyone confident</h2>
                <p class="cl-grey-1 fs-15 my-2">We all remembers the exams in school, college, etc. The very mention of the word sends a
                  shiver run down our spine. The sweaty hand palms, nervous and anxious self with prayers in
                  the mind are the situation of each and every individual appearing for exams. This very
                  situation makes even the consistent performers forget what they have learnt throughout
                  the course. However, exams are part of life whether taken with pen &amp; paper or as a life
                  lessons. Therefore, it should be thoroughly enjoyed instead of getting anxious, nervous and
                  frustrated.
                </p>
            </div>
            <div class="col-12">
                <h2 class="test-bold fs-25 head-size-2 cl-black lh-40 mb-3">Exams are imperative and plays crucial role in overall development</h2>
                <p class="cl-grey-1 fs-15 my-2">Many people feel that exams are boring and they only tests the memorizing skills of
                  students. However, this is far from reality. Exams play an important role in the process of
                  learning as they assess the knowledge of students with regards to the subjects they have
                  been taught and also exposes their strengths and weaknesses.
                </p>
                <p class="cl-grey-1 fs-15 my-2">
                  A real life example to showcase the criticalness of examination system. Once a trainee pilot
                  went for a training programme to learn the skills of flying aircraft. He diligently completed
                  his course and considered himself fit for flying the aircrafts. However, after practical
                  examination, it was found that he was unfit to fly the plane because of certain type of
                  nervousness he developed at high altitude which can be dangerous and may risks life of
                  passengers
                </p>
                <p class="cl-grey-1 fs-15 my-2">
                  So despite having all the knowledge which are essential to fly, this small shortcoming
                  restricted him to fly aircrafts. A practical examination exposed the shortcomings of the
                  trainee pilot. This is only a small case while life is full of these instances. This clearly
                  demonstrate the crucial role an examination plays. However, after extended course and
                  number of tests the trainee pilot overcame his shortcoming and came out with flying
                  colours.
                </p>
                <p class="cl-grey-1 fs-15 my-2">
                  This is the power of tests and exams. The continuous evaluation process exposes the weaknesses as well as strengths to plan a strategy to get success in any field.
                </p>
            </div>
            <div class="col-12">
                <h2 class="test-bold fs-25 head-size-2 cl-black lh-40 mb-3">Benefits of ongoing and constant Exams/ Evaluation process</h2>
                <p class="cl-grey-1 fs-15 my-2">
                  We always assess the importance of anything with the associated benefits. Now we will
                  discuss the benefits of constant evaluation:
                </p>
                <ol class="cl-grey-1 fs-15 my-2 pl-4">
                  <li class = "mt-2">
                    <span class = "cl-black font-weight-bold">Sincerity:</span> Exams bring sincerity in students. The fear of doing badly in exams make them sincere throughout the course.
                  </li>
                  <li class = "mt-2">
                    <span class = "cl-black font-weight-bold">Competitive Spirit:</span> Like sports make a person competitive, similarly, exams also
                    encourage a student to always do better and make him competitive. This is crucial for overall development of a person as well as society, country and world. The whole
                    world gets benefited from those people whose never say die attitude brings new
                    innovation.
                  </li>
                  <li class = "mt-2">
                    <span class = "cl-black font-weight-bold">Time Management:</span> Time management is one skill which is crucial for every phase
                    and part of life. Exams make you achieve your goal in stipulated time and teaches
                    the importance of time throughout the life.
                  </li>
                  <li class = "mt-2">
                    <span class = "cl-black font-weight-bold">Working under pressure:</span> The exams put pressure to excel. Now, under this stressful
                    situation, students need to recall everything that they have learnt. It requires a lot
                    focus and dedication on student's part. This prepares them to take every challenges
                    the life throws and move towards greater glory.
                  </li>
                  <li class = "mt-2">
                    <span class = "cl-black font-weight-bold">Critical thinking and logical reasoning:</span> Exams throw new challenges in the form of
                    questions. Certain questions are straight forward but some are twisted. To tackle
                    twisted questions, students need to apply their brain and connect the dots with
                    what they have learnt and what is being asked. This develops the logical and critical
                    thinking among students.
                  </li>
                  <li class = "mt-2">
                    <span class = "cl-black font-weight-bold">Memorising skills:</span> Examinations inculcate and sharpens the memory cells of our
                    brain. Since exams also tests the remembering skills of a students, taking regular
                    exams develop a strong and good memory of students.
                  </li>
                </ol>
            </div>
            <div class="col-12">
              <h2 class="test-bold fs-25 head-size-2 cl-black lh-40 mb-3">Conclusion</h2>
              <p class="cl-grey-1 fs-15 my-2">Based on the above discussion, we can safely conclude that the stress, tension, anxiousness
                are worth in the long run. The challenges thrown by exams are not to make you weak but to
                prepare you for larger roles and realize your true potential.
              </p>
              <p class="cl-grey-1 fs-15 my-2">Never take stress of exams but enjoy them for greater goods. Last but not the least never
                ever get affected by a bad exam or by low score. It is just an exercise to enrich you with
                knowledge and train you for future.
              </p>
            </div>
        </div>
    </div>
</section>


{% endblock content %}