{% extends 'application_base.html' %}
{% load static %}
{% block content %}
{% now "Y-m-d" as today %}
{% now "H:i:s" as current_time %}

<section class="section_home-banner">
    <div class="container pt-sm-4">
        <div class="banner-slider owl-carousel owl-theme px-xl-4">
            {% for obj in bannerObj %}
            <div class="row px-1">
                <div class="col-lg-6 align-self-center ">
                    {% if obj.title %}
                        <p class="cl-blue  fs-14 ">{{obj.title}}</p>
                    {% endif %}
                    <h2 class="test-bold fs-30 head-size cl-darkblue pb-1 lh-md-55">{{obj.main_title}}</h2>
                    <div class="cl-blue-1 fs-15 pb-3 pt-lg-4 btm right-padding">{{obj.description|safe}}</div>
                    {% if obj.button_url %}
                        <a class="home-btn-olympiad decrt-none fs-13 cl-black bgs-yellow" href = "{{ obj.button_url }}" target = "_blank">VIEW LINK
                            <span class="arrow-spacing"></span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                <path id="btn-olympiad-size" data-name="Path 3" d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z" transform="translate(-3.278 -102.821)" fill="#fff" />
                            </svg>
                        </a>
                    {% endif %}
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <img src="{{obj.image.url}}" alt="" class="img-fluid home-banner-img">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section_home-counter">
    <div class="container">
        <div class="bgs-yellow br-30 py-3 py-sm-4 py-sm-5 px-3">
            <div class="row counter_method justify-content-center">
                <div class="col-lg-3 col-6 my-3 text-center counter-count">
                    <div class="d-flex justify-content-center align-items-center">
                        <h2 class="fs-45 test-bold counter cl-darkblue" data-count="8">0</h2>
                        <span class="test-bold cl-white about-banner fs-30 pl-1">+</span>
                    </div>
                    <h5 class="test-bold fs-20 font-size cl-darkblue mb-0">Lorem ipsum</h5>
                </div>
                <div class="col-lg-3 col-6 my-3 text-center counter-count">
                    <div class="d-flex justify-content-center align-items-center">
                        <h2 class="fs-45 test-bold counter cl-darkblue" data-count="25">0</h2>
                        <span class="test-bold cl-white about-banner fs-30 pl-1">+</span>
                    </div>
                    <h5 class="test-bold fs-20 font-size cl-darkblue mb-0">Lorem ipsum dolor</h5>
                </div>
                <div class="col-lg-3 col-6 my-3 text-center counter-count">
                    <div class="d-flex justify-content-center align-items-center">
                        <h2 class="fs-45 test-bold counter cl-darkblue" data-count="9">0</h2>
                        <span class="test-bold cl-white about-banner fs-30 pl-1">+</span>
                    </div>
                    <h5 class="test-bold fs-20 font-size cl-darkblue mb-0">Lorem ipsum dolor</h5>
                </div>
                <div class="col-lg-3 col-6 my-3 text-center counter-count">
                    <div class="d-flex justify-content-center align-items-center">
                        <h2 class="fs-45 test-bold counter cl-darkblue" data-count="50">0</h2>
                        <span class="test-bold cl-white about-banner fs-30 pl-1">+</span>
                    </div>
                    <h5 class="test-bold fs-20 font-size cl-darkblue mb-0">Lorem ipsum</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_home-olympiad-test py-3 py-sm-5 mt-4">
    <div class="container">

        <div class="text-center">
            <h2 class=" test-bold head-size fs-45 cl-black pb-1 lh-55">Popular Exam</h2>
            <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-lg-1  pb-lg-4">This will contain links to exams which are popular. Initially, we will decide, however, later on the exams which are taken in the highest number will come under this section.</p>
        </div>

        <div class="oly-tap px-md-5 text-center">
            <ul class="nav nav-pills mb-5 mt-4 tab-width olympaind-tab " id="pills-tab" role="tablist">

                <li class="nav-item active olympaid">
                    <a class="nav-link  fs-13  cl-black" id="board-exam-tab" data-toggle="pill" href="#board-exam"
                        role="tab" aria-controls="board-exam" aria-selected="true">School Exam</a>
                </li>
                <li class="nav-item olympaid">
                    <a class="nav-link olympaid fs-13 cl-black" id="competitive-exam-tab" data-toggle="pill" href="#competitive-exam" role="tab" aria-controls="competitive-exam" aria-selected="false">Competitive Exam</a>
                </li>
                <li class="nav-item olympaid">
                    <a class="nav-link olympaid fs-13 cl-black" id="olympiad-exam-tab" data-toggle="pill" href="#olympiad-exam" role="tab" aria-controls="olympiad-exam" aria-selected="false">Olympiad Exam </a>
                </li>
            </ul>
        </div>
        <div class="tab-content pb-2" id="pills-tabContent">

            <div class="tab-pane fade show active " id="board-exam" role="tabpanel" aria-labelledby="board-exam-tab">
                <div class="row">
                    {% for obj in classesObj %}
                        <div class="col-md-6 pb-4 mb-md-2">
                            <div class="card card-over mb-2">
                                <div class="card-body">
                                    <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">Subjects : <span
                                            class="test-bold">{{obj.assigned_subjects.count}}</span></p>
                                    <h5 class="test-semibold  fs-18 cl-black">{{obj.title}}</h5>
                                    <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">{{obj.description}}</p>
                                    <div class="d-xl-flex justify-content-between  align-items-center">
                                        <a href="{% url 'application:school_paper_wise' %}?class={{obj.id}}"
                                            class="fs-15 test-bold cl-blue view-button mr-2 mr-xl-3 d-inline-block mb-2">Buy Paperwise</a>
                                        <a class="home-btn-olympiad decrt-none fs-15  cl-black bgs-yellow test-semibold"
                                            href="{% url 'application:school_subject_wise' obj.id %}">Buy Subjectwise
                                            <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg"
                                                width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                                <path id="btn-olympiad-size" data-name="Path 3"
                                                    d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                    transform="translate(-3.278 -102.821)" fill="#fff"></path>
                                            </svg></a>
                                        <a href="{% url 'application:checkout' obj.id %}?type=class"
                                            class="text-white fs-15 bgs-black decrt-none enroll-button">Buy Class
                                            <span class="arrow-spacing"></span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.7" height="8.622"
                                                class="arrow-color" viewBox="0 0 16.7 8.622">
                                                <path id="arrow-color" data-name="Path 3"
                                                    d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                    transform="translate(-3.278 -102.821)" fill="#fff" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="competitive-exam" role="tabpanel" aria-labelledby="competitive-exam-tab">
                <div class="row">
                    {% for obj in competitiveExamObj %}
                    <div class="col-md-6 pb-4 mb-md-2">
                        <div class="card card-over mb-2">
                            <div class="card-body">
                                <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">Papers : <span
                                        class="test-bold">{{obj.assigned_papers.count}}</span></p>
                                <h5 class="test-semibold  fs-18 cl-black">{{obj.exam_name}}</h5>
                                <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">{{obj.description}}</p>
                                <div class="row align-items-center">
                                    <div class="col-sm-4 col-md-12 col-lg-4 pr-0">
                                        <p class="test-semibold mb-1 mb-sm-0 fs-18 cl-black">&#x20b9; {{obj.price}}</p>
                                    </div>
                                    <div
                                        class="col-sm-8 col-md-12 col-lg-8 enroll-center pl-lg-0 d-flex justify-content-between justify-content-lg-end align-items-center">
                                        <a href="{% url 'application:school_paper_wise' %}?competitive={{obj.id}}"
                                            class="fs-15 test-bold cl-dark view-button mr-2 mr-xl-3">View Papers</a>
                                        <a href="{% url 'application:checkout' obj.id %}?type=competitive-exam"
                                            class="text-white fs-15 bgs-black decrt-none enroll-button">Buy Now
                                            <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg"
                                                width="16.7" height="8.622" class="arrow-color"
                                                viewBox="0 0 16.7 8.622">
                                                <path id="arrow-color" data-name="Path 3"
                                                    d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                    transform="translate(-3.278 -102.821)" fill="#fff" />
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="olympiad-exam" role="tabpanel" aria-labelledby="olympiad-exam-tab">
                <div class="row">
                    {% if olympiadExamObj|length == 0 %}
                    <h3 style = "color: #c5c5c5; width: 100%; text-align: center;">No exams.</h3>
                    {% endif %}
                    {% for obj in olympiadExamObj %}
                        <div class="col-md-6 pb-4 mb-md-2">
                            <div class="card card-over mb-2">
                                <div class="card-body">
                                    <p class="fs-15 test-bold cl-black mb-1 mb-md-0 card-labels">{{obj.exam_date}} - {{obj.exam_time}}</p>
                                    <h5 class="test-semibold  fs-18 cl-black">{{obj.paper.title}}</h5>
                                    <p class="fs-13 cl-dark col-xl-7 col-12 pl-0">{{obj.paper.description}}</p>
                                    <div class="row align-items-center">
                                        <div class="col-sm-4 col-md-12 col-lg-4 pr-0">
                                            <p class="test-semibold mb-1 mb-sm-0 fs-18 cl-black">&#x20b9; {{obj.paper.price}}</p>
                                        </div>
                                        <div
                                            class="col-sm-8 col-md-12 col-lg-8 enroll-center pl-lg-0 d-flex justify-content-between justify-content-lg-end align-items-center">
                                            {% if today == obj.exam_date|date:"Y-m-d" and one_hour_after|time:"H:i:s" >= obj.exam_time|time:"H:i:s"%}
                                                <span
                                                    class="text-white fs-15 bgs-black decrt-none enroll-button">Live
                                                </span>
                                            {% elif obj in olympiad_enrolled %}
                                                <span class="text-white fs-15 bgs-black decrt-none enroll-button">Registered</span>
                                            {% else %}
                                                <a href="{% url 'application:checkout' obj.id %}?type=olympiad-exam"
                                                    class="text-white fs-15 bgs-black decrt-none enroll-button">Register
                                                    <span class="arrow-spacing"></span>
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        width="16.7" height="8.622" class="arrow-color"
                                                        viewBox="0 0 16.7 8.622">
                                                        <path id="arrow-color" data-name="Path 3"
                                                            d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                                            transform="translate(-3.278 -102.821)" fill="#fff" />
                                                    </svg>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section_home-annouce bgs-lightblue pt-4 pt-sm-5 pb-4">
    <div class="container py-3">
        <div class="text-center pb-1">
            <h2 class=" test-bold head-size fs-45 cl-black lh-55">Result Announcement</h2>
            <p class="fs-15 cl-dark px-0 col-md-8 mx-auto pt-md-3 pt-1 student">Lorem ipsum dolor sit amet adipisicing
                elit. Commodi aut recusandae illo. Voluptatibus illo delectus totam earum
                quo unde provident exercitationem eligendi! provident exercitationem.</p>
        </div>
        <div class="row pt-4 justify-content-center">
            {% for result in resultsObj %}
            <div class="col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="annouce-content bgs-white h-100 p-4 br-20 text-center">
                    <h3 class="test-bold fs-22 lh-30 cl-blue-2 my-3 pb-3">{{result.title}}</h3>
                    <img src="{{result.winner_image.url}}" alt="{{result.winner_image_alt_name}}" class="img-fluid">
                    <h4 class="test-semibold fs-22 lh-30 cl-blue-2 mt-4 mb-1">{{result.winner_name}}</h4>
                    <p class="test-bold fs-15 cl-yellow mb-3">{{result.winner_mark}}</p>
                    <p>{{result.winner_description}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<!-- <section class="section_home-knowledge bgs-lightblue py-4 py-sm-5">
   <div class="container py-3">
       <div class="row">
           <div class="col-lg-5 pr-xl-5">
               <img src="assets\images\knowledge.png" class="img-fluid text-center text-lg-left " alt="">
           </div>
           <div class="col-lg-7 align-self-center pr-xl-5 pt-3 pt-lg-0">
               <p class="fs-14 cl-blue pt-3 mb-0">#Build Your Knowledge</p>
               <h2 class=" test-bold fs-45 head-size cl-black pt-md-4 pt-2">Why Choose Us</h2>
               <p class="fs-15 cl-dark pt-sm-3 button-top pr-xl-4">Lorem ipsum dolor sit amet consectetur adipisicing
                   elit. Commodi quo, quisquam ab qui amet quae. Lorem ipsum dolor sit amet consectetur adipisicing
                   elit.
                   Delectus quidem, reprehenderit eveniet at velit aliquid doloremque. Eligendi cupiditate officiis
                   animi. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Commodi quo, quisquam ab qui amet quae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Delectus quidem.</p>
               <a href="about.php" class="text-white button-sise decrt-none fs-13 cl-white bgs-black">KNOW MORE <span
                       class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                       height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                       <path id="arrow-color" data-name="Path 3"
                           d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                           transform="translate(-3.278 -102.821)" fill="#fff" />
                   </svg></a>
           </div>
       </div>
   </div>
</section> -->

<section class="section-news py-4 py-sm-5 my-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class=" test-bold head-size fs-45 cl-black lh-55">Our Latest News</h2>
                <p class="fs-15 cl-dark pt-md-3 pt-1 student">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Eligendi numquam quasi aliquid nam non, praesentium quae nostrum saepe illum, a sed tempore adipisci
                    debitis tenetur quos quibusdam iure assumenda aspernatur. Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Quas ducimus porro magnam enim possimus ullam animi? Accusantium optio suscipit
                    eaque animi at magnam nam explicabo libero! Earum ad similique dolorum. <br> Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Nostrum, temporibus. Nemo reiciendis sint magni esse! Unde
                    officia placeat veniam consectetur optio quo iusto in non. Ducimus quae saepe nulla sunt.</p>
            </div>
            <div class="col-lg-6">
                <div class="bgs-sky p-5 br-20">
                    <h5 class="test-semibold  fs-25 cl-black mb-4">PRESS RELEASES</h5>
                    <div class="latest-news-scroll">
                        <div class="latest-news">

                            {% for news_obj in news %}
                            <div class="recent-post py-4">
                                <p class="test-semibold cl-blue-2 mb-2"><i class="fa fa-calendar pr-2"
                                        aria-hidden="true"></i>{{news_obj.event_date}}</p>
                                <div class="d-flex align-items-start">
                                    {% if news_obj.image %}
                                    <img src="{{news_obj.image.url}}" alt="{{news_obj.image_alt_name}}" class="recent-post-img">
                                    {% endif %}
                                    <p class="fs-15 cl-black mb-0 pl-3">{{news_obj.description}}</p>
                                </div>
                            </div>
                            {% endfor %}

                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_home-blog bgs-sky pt-4 py-sm-5">
    <div class="container py-3">
        <div class="d-flex align-items-center justify-content-between mb-4 mb-sm-5">
            <h2 class="test-bold head-size fs-45 cl-black mb-0 head-padding lh-55">Recent Blogs</h2>
            <a class="home-btn-olympiad decrt-none fs-15 test-semibold  py-3 px-4 cl-black bgs-yellow"
                href="{% url 'application:blogs-page' %}">VIEW
                MORE
                <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7" height="8.622"
                    class="arrow-color" viewBox="0 0 16.7 8.622">
                    <path id="btn-olympiad-size" data-name="Path 3"
                        d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                        transform="translate(-3.278 -102.821)" fill="#fff" />
                </svg></a>
        </div>
        <div class="row">
            {% for blogObj in blogs %}
                <div class="col-lg-4 col-sm-6 pb-lg-0 pb-4">
                    <div class="blog-content bgs-white h-100 p-3 br-20">
                        <a href="{{blogObj.get_absolute_url}}"><img src="{{blogObj.image.url}}" alt="{{blogObj.image_alt_name}}"
                                class="img-fluid br-15"></a>
                        <h3 class="test-semibold fs-22 lh-28 cl-blue-2 my-3">{{blogObj.title}}</h3>
                        <p>{{blogObj.description}}</p>
                        <a href="{{blogObj.get_absolute_url}}" class="fs-16 test-bold decrt-none cl-darkblue d-inlne-block">Read More
                            <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7"
                                height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                <path id="arrow-color" data-name="Path 3"
                                    d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                    transform="translate(-3.278 -102.821)" fill="#022a4b" />
                            </svg></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section_home-student-say py-4 py-sm-5 mt-3">
    <div class="container">
        <div class="text-center">
            <h2 class=" test-bold head-size fs-45 cl-black lh-55">What Students Say</h2>
            <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-md-3 pt-1 student">Lorem ipsum dolor sit amet adipisicing
                elit. Commodi aut recusandae illo. Voluptatibus illo delectus totam earum
                quo unde provident exercitationem eligendi! provident exercitationem.</p>
        </div>
        <div class="review-slider owl-carousel owl-theme pt-lg-4">
            {% for testiObj in testimonials %}
                <div class="item row">
                    <div class="col-lg-2">
                        <img src="{{testiObj.image.url}}" alt="{{testiObj.image_alt_name}}" class="mr-5 rounded-circle"
                            style="width:78px;">
                    </div>
                    <div class="col-lg-10 double-quates">
                        <h6 class="feedback-font  test-bold cl-black padding fs-18">{{testiObj.client_name}}</h6>
                        <p class="fs-13 cl-dark mb-0">{{testiObj.client_role}}</p>
                        <div class="quates-img">
                            <img src="{% static 'images/double-qts.png' %}" alt="">
                        </div>
                        <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">{{testiObj.description}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section_home-we-offer bgs-lightblue py-4 py-sm-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6 col-12 align-self-center">
                <h2 class="test-bold fs-45  head-size cl-black  pb-md-3 lh-55">What we offer</h2>
                <p class="fs-15 cl-dark  pr-lg-5">Lorem ipsum dolor sit ametLorem ipsulor sit amet consectetur
                    adipisicing elit. Harum porro quae nam perferendis nostrum perspiciatis pariatur maiores doloremque
                    sequi aliquam facere expedita facilis totam tempora, quas nesciunt illo cum fuga mollitia assumenda
                    debitis omnis. Deserunt aut modi est inventore. Officia ratione quae aperiam sequi nisi accusantium
                    placeat deser.</p>
                <p class="fs-15 cl-dark right-padding">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi,
                    labore nostrum, beatae molestiae adipisci, illo distinctio aliquid sapiente nemo aspernatur
                    voluptate doloremque tempora itaque quia?</p>
            </div>

            <div class="col-lg-6 col-12 pt-lg-0 pt-3 text-center text-lg-left">
                <img src="{% static 'images/we-offer.png' %}" class="img-fluid we-offer-img  ml-xl-5" alt="Los Angeles">
            </div>
        </div>
    </div>
</section>

<section class="section_home-events py-4 py-sm-5">
    <div class="container py-3">
        <div class="text-center">
            <h2 class=" test-bold head-size fs-45 cl-black lh-55">Our Events</h2>
            <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-md-3 pt-1 student">Lorem ipsum dolor sit amet adipisicing
                elit. Commodi aut recusandae illo. Voluptatibus illo delectus totam earum
                quo unde provident exercitationem eligendi! provident exercitationem.</p>
        </div>
        <div class="row pt-4 pt-sm-5 px-xl-4 justify-content-center">
            {% for event in events %}
            <div class="col-lg-4 col-md-6 pb-4 pb-lg-0">
                <a href="{% url 'application:events' %}">
                    <div class="events-content h-100 position-relative br-30">
                        <img src="{{event.image.url}}" alt="{{event.image_alt_name}}" class="w-100 br-30">
                        <div class="content-events px-4">
                            <p class="events-round bgs-lightgrey px-4 test-medium cl-darkblue p-1 br-30 d-inline-block">
                                {{event.label}}</p>
                            <h3 class="test-semibold fs-18 lh-25 cl-white mb-2">{{event.title}}</h3>
                            <div class="d-xl-flex justify-content-between align-items-center pt-xl-2">
                                <p class="test-semibold cl-white mb-xl-0">
                                    <i class="fa fa-calendar pr-2" aria-hidden="true"></i>
                                    {{event.event_date|date:"d M Y" }}
                                </p>
                                <a data={{event.id}} class="decrt-none fs-15 test-semibold br-30 py-2 px-4 cl-black 
                                {% if event in registered_events %}
                                    bgs-white 
                                {% elif user.is_authenticated %}
                                    registerEvent bgs-yellow 
                                {% else %}
                                    bgs-yellow 
                                {% endif %}
                                d-inline-block" {% if event.is_external %} href="{{event.event_meeting_link}}" target = "_blank" {% elif not user.is_authenticated %}href="/signin"{% elif event in registered_events %} href="{% url 'application:events' %}" {% else %} href="#" {% endif %}>
                                    {% if event.is_external %}
                                        External event
                                    {% elif event in registered_events %}
                                        Registered
                                    {% else %}
                                        Register Now
                                    {% endif %}
                                    <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg"
                                        width="16.7" height="8.622" class="arrow-color" viewBox="0 0 16.7 8.622">
                                        <path id="btn-olympiad-size" data-name="Path 3"
                                            d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                                            transform="translate(-3.278 -102.821)" fill="#fff"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
        </div>
        <div class="text-center pt-3 pt-sm-5 mt-lg-3">
            <a class="home-btn-olympiad decrt-none fs-15 test-semibold  py-3 px-4 cl-black bgs-yellow d-inline-block"
                href="{% url 'application:events' %}">VIEW MORE EVENTS
                <span class="arrow-spacing"></span><svg xmlns="http://www.w3.org/2000/svg" width="16.7" height="8.622"
                    class="arrow-color" viewBox="0 0 16.7 8.622">
                    <path id="btn-olympiad-size" data-name="Path 3"
                        d="M19.859,106.83l-4.249-3.89a.407.407,0,0,0-.576.576l3.553,3.195H3.686a.407.407,0,1,0,0,.815h14.9l-3.553,3.221a.407.407,0,1,0,.576.576l4.249-3.917A.407.407,0,0,0,19.859,106.83Z"
                        transform="translate(-3.278 -102.821)" fill="#fff"></path>
                </svg></a>
        </div>
    </div>
</section>


{% endblock content %}


{% block script %}


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>


    $(".registerEvent").click(function(event){
        if ($(this).attr("href")=="#"){
            event.preventDefault();
            var eventId = $(this).attr("data");
            $.ajax({
                type: 'post',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
                },
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action:"register",
                    eventId:eventId,
                },
                dataType: 'json',
                success:function(response){
                    console.log(response)
                    var options = {
                        key: response.razorpay_key,
                        amount: response.price, 
                        currency: "INR",
                        order_id: response.order_id,
                        callback_url: response.callback_url,
                        redirect: true,
                        modal: { 
                            escape: false,
                        },
                        handler: function (response){
                            console.log(response)
                        }
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.open();
                    //swal({
                    //        title: "Success",
                    //        text: response['msg'],
                    //        icon: "success",
                    //    }).then(function() {
                    //        window.location.reload();
                    //    });
                }   
            });
        }

    });

</script>

{% endblock script %}
