
{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_team-banner bgs-lightblue py-4 py-sm-5">
<div class="container">
    <div class="row">
        <div class="col-lg-6 align-self-center ">
            <p class="cl-blue fs-14"># Lorem ipsum</p>
            <h2 class="test-bold fs-40 font-size cl-darkblue">Our Team</h2>
            <p class="cl-blue-1 fs-15 pt-4 right-padding">Loreum Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="{% static 'images/career_banner_img.png' %}" alt="" class="img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_team-ceo py-4 py-sm-5">
    <div class="container px-xl-5">
        <h2 class="test-bold fs-45 cl-black mb-4 pb-sm-4 text-center">About the CEO</h2>
        <div class="row px-xl-5">
            <div class="col-lg-6">
                <img src="{% static 'images/dummy.png' %}" alt="" class="img-fluid br-15">
            </div>
            <div class="col-lg-6 align-self-center pt-4 pt-lg-0">
                <h2 class="test-bold fs-30 cl-black">Amit kumar</h2>
                    <h3 class="test-bold fs-20 cl-black">MD & CEO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem magnam rem quaerat assumenda quisquam obcaecati neque vel molestias, quae aperiam, nulla consequuntur quam. Rem, repellendus exercitationem accusamus quibusdam nesciunt nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod praesentium numquam vero eum rerum. Amet quaerat fuga neque perferendis ullam veritatis.</p>
                <p>Amet quaerat fuga neque perferendis ullam veritatis, voluptatem, ut nisi mollitia asperiores odit, tempore quos aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta assumenda, ipsam magnam quo similique obcaecati quia maxime dolore iste repudiandae nesciunt, possimus adipisci dolor, alias quis quae animi rerum error.</p>
            </div>
        </div>
    </div>
</section>
<section class="section_team-our bgs-sky py-4 py-sm-5">
    <div class="container pt-3">
        <h2 class="test-bold fs-45 cl-black  pb-sm-4 mb-4 text-center">Our Team</h2>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-1.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-1.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-1.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-1.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-1.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-2.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-1.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 pb-4 mb-lg-3">
                <div class="team-content bgs-white h-100 p-3 br-20 text-center">
                    <img src="{% static 'images/review-2.png' %}" alt="" class="w-100 br-15">
                    <h3 class="test-semibold fs-22 lh-28 cl-blue-2 mt-3 mb-1">Lorem ipsum</h3>
                    <p class="fs-15 cl-yellow mb-2">Lorem ipsum</p>
                    <p>Lorem ipsum dolor sit amet consectetur dignissimos</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}