{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="sign-page-section pt-5 pb-4 py-sm-5 bgs-lightblue">
    <div class="container sign-form-box pt-sm-4">
        <div class="row align-items-center px-xl-5">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="sign-up-login-from">
                        <h1 class="fs-25 cl-black test-semibold  pb-2"> Login your account</h1>
                        <p>Grow your knowledge</p>
                        <div class="form-groups col-lg-10 col-12 pb-3 pt-1 pl-0 ">
                                <input type="email"  placeholder="Email ID*"  name="email"  class="form-control"  maxlength="250" required>
                            </div>
                            <div class=" form-groups col-lg-10  col-12 pb-3 pt-1 pl-0 ">
                                <input type="password" placeholder="Password*"  name="password" class="form-control"  maxlength="250" required>
                                <div class="new-pass-box">
                                    <a href="{% url 'application:forget-password' %}">Forget Password</a>
                                </div>
                              
                            </div>
                            <div class="form-groups col-lg-10 col-12 pt-4 pl-0 ">
                                <input type="submit" value="Login" class="mt-1  dash-login-btn w-100 cursor">
                            </div>
                        <div class="py-4 col-lg-9 col-12 text-center mt-sm-4">
                            <!-- <p></p> -->
                            <a class="account-regsiter" href="{% url 'application:signup' %}">Don't have an account? Register</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 pt-3 pt-lg-0 d-none d-sm-block text-center">
                <img class="img-fluid sign-banner"  src="{% static 'images/sign-up-banner.svg' %}" alt="sign-in-banner">
            </div>
        </div>
    </div>
</section>
{% endblock content %}