{% extends 'application_base.html' %}
{% load static %}
{% block content %}
<section class="section_contact-banner pt-3 pb-4 bgs-lightblue">
<div class="container">
    <div class="row">
        <div class="col-lg-6  align-self-center ">
            <h2 class="test-bold fs-40 font-size cl-darkblue">First Step Edutech<p class="cl-blue-1  fs-15 pt-4 right-padding"> is a unique concept where specifically designed exams are conducted online for continuous evaluation of the students. It prepares and make the students ready to handle any exams without getting scared and nervous.
            Loreum Ipsum is simply dummy text of the printing and typesetting industry.</p> </h2>
        </div>
        <div class="col-lg-6 about-banner text-lg-right text-center">
            <img src="{% static 'images\about-banner.png' %}" alt="" class="  img-fluid">
        </div>
    </div>
</div>
</section>
<section class="section_home-knowledge py-4 py-sm-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-5 pr-5 text-lg-left text-center">
                <img src="{% static 'images\knowledge.png' %}" class="img-fluid text-center text-lg-left " alt="Los Angeles">
            </div>       
            <div class="col-lg-6 col-12 align-self-center">
                
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Wide Coverage</h2>
                <p class="fs-15 cl-dark pt-md-3">The Exams cover wide range of subjects and topics. It tries to
                    cover the areas which are trending in all competitive tests. Thus
                    makes a student conversant in the skills.</p>
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Continuous performance evaluation</h2>
                <p class="fs-15 cl-dark pt-md-3">Continuous performance evaluation in the form of specially
                    designed tests which assist in avoiding serious problems in the
                    future. The performance is evaluated on an ongoing basis. It
                    identifies the weaknesses of students so that they can improve
                    upon for future.</p>
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Improve Abilities</h2>
                <p class="fs-15 cl-dark pt-md-3">The exams improve the problem solving abilities, critical &amp; logical
                    thinking as well as emotional quotient of students.
                    Further, the exams also identify the weaknesses of a student and
                    encourages to take more such exams to overcome his/her
                    shortcomings.</p>
                <h2 class=" test-bold fs-30 head-size cl-black pt-md-3 pt-2 lh-md-55">Talent identification</h2>
                <p class="fs-15 cl-dark pt-md-3">FirstEdu identify the talent and nurture it to become a shining star</p>
            </div>  
        </div> 
    </div>
</section>
<section class="section_home-student-say py-4 py-sm-5">
    <div class="container py-3">
        <div class="text-center">
             <h2 class=" test-bold head-size fs-45 cl-black mb-3 mb-sm-4">What Students Say</h2>
             <p class="fs-15 cl-dark px-0 col-md-8 m-auto pt-md-3 pt-1 student">Lorem ipsum dolor sit amet adipisicing
                 elit. Commodi aut recusandae illo. Voluptatibus illo delectus totam earum
                 quo unde provident exercitationem eligendi! provident exercitationem.</p>
         </div>
         <div class="review-slider owl-carousel owl-theme pt-lg-4">
            {% for testiObj in testimonials %}
            <div class="item row">
                <div class="col-lg-2">
                    <img src="{{testiObj.image.url}}" alt="{{testiObj.image_alt_name}}" class="mr-5 rounded-circle"
                        style="width:78px;">
                </div>
                <div class="col-lg-10 double-quates">
                    <h6 class="feedback-font  test-bold cl-black padding fs-18">{{testiObj.client_name}}</h6>
                    <p class="fs-13 cl-dark mb-0">{{testiObj.client_role}}</p>
                    <div class="quates-img">
                        <img src="{% static 'images/double-qts.png' %}" alt="">
                    </div>
                    <p class="fs-14 cl-dark col-lg-10 pl-0 pr-0 pr-lg-4">{{testiObj.description}}</p>
                </div>
            </div>
        {% endfor %}


         </div>  
    </div>
</section> 
{% endblock content %}

