<p>We have received a request to reset your password. Please enter the following OTP code to complete the password reset process:</p>
<h4>{{otp}}</h4>
<p>This OTP code is valid for a single login session or transaction and should not be shared with anyone. If you did not initiate this request, please ignore this email or contact our customer support team immediately.</p>
<p>If you did initiate this request, please follow the instructions on our website to complete the password reset process.</p>
<p>Thank you for choosing our service.</p>
<br />
<br />
<p>Best regards, <br /> Firststepedu</p>