{% extends 'admin_dashboard_base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Banner</h1>
        <a href="{% url 'admin_dashboard:home-banner' %}" class="d-inline-block btn btn-sm btn-warning shadow-sm"><i
                    class="fas fa-caret-square-left fa-sm text-white-50 pr-1"></i> Back</a>
    </div>
    <div class="p-4">
        <div class="p-4">
            <form class="user row" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-group col-sm-6">
                    <label>Title <span class="text-danger">*</span></label>
                    <input maxlength="200" name="title" type="text" value="{{obj.title}}" class="form-control form-control-user" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Main Title <span class="text-danger">*</span></label>
                    <input maxlength="240" name="main_title" type="text" value="{{obj.main_title}}" class="form-control form-control-user" required>
                </div>
                <div class="form-group col-12">
                    <label>Descriptiom <span class="text-danger">*</span></label>
                    <textarea  name="description" rows="3"  class="form-control form-control-user" required>{{obj.description}}</textarea>
                </div>
                <div class="form-group col-sm-6">
                    <label>Button Name</label>
                    <input maxlength="50" name="button_name" type="text" {% if obj.button_name != "None" %}value="{{obj.button_name}}" {% endif %} class="form-control form-control-user">
                </div>
                <div class="form-group col-sm-6">
                    <label>Button URL</label>
                    <input maxlength="190" name="button_url" type="text" {% if obj.button_url != "None" %} value="{{obj.button_url}}" {% endif %} class="form-control form-control-user">
                </div>
                <div class="form-group col-12">
                    <label>Upload Image <span class="text-danger">image acceptable size is {{image_size}}*</span> {% if obj.image %}<a target="_blank" href="{{obj.image.url}}">{{obj.image.url}}</a>{% endif %} </label>
                    <input id="uploadImage" name="upload_image" class="form-control form-control-lg" type="file" accept="image/png, image/jpeg">
                </div>
                <div class="col-12 text-center pt-4">
                    <input  type="submit" class="btn-lg btn-primary border-0 bg-primary tex-white px-4">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>

$( document ).ready(function() {
    var image="{{obj.image}}";
    if(image==""){
        $("#uploadImage").attr("required","true");
    }
});

</script>
{% endblock script %}