{% extends 'admin_dashboard_base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Blog</h1>
        <a href="{% url 'admin_dashboard:blogs-list' %}" class="d-inline-block btn btn-sm btn-warning shadow-sm"><i
                    class="fas fa-caret-square-left fa-sm text-white-50 pr-1"></i> Back</a>
    </div>
    <div class="p-4">
        <form class="user row" method="POST" name="blogForm" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group col-sm-6">
                <label>Title <span class="text-danger">*</span></label>
                <input type="text" value="{{obj.title}}" class="form-control form-control-user" name="title" required>
            </div>
            <div class="form-group col-sm-6">
                <label>URL <span class="text-danger">*</span></label>
                <input type="text"  value="{{obj.url}}" class="form-control form-control-user" name="url" required>
                <font>Make sure to avoid special characters except "-" symbol.</font>
            </div>
            <div class="form-group col-sm-6">
                <label>Upload Image <span class="text-danger">acceptable image size is 615x340 *</span>{% if obj.image %}<a target="_blank" href="{{obj.image.url}}">{{obj.image.url}}</a>{% endif %}</label>
                <input class="form-control form-control-lg" id="uploadImage" type="file" accept="image/png, image/jpeg" name="upload_image">
            </div>
            <div class="form-group col-sm-6">
                <label>Image Alt Name <span class="text-danger">*</span></label>
                <input type="text"  value="{{obj.image_alt_name}}" class="form-control form-control-user" name="uploaded_image_alt_name" required>
            </div>
            <div class="form-group col-12">
                <label>Description <span class="text-danger">*</span></label>
                <textarea rows="2" class="form-control form-control-user" name="description" required>{% if obj.description %}{{obj.description}}{% endif %}</textarea>
            </div>
            <div class="form-group col-12">
                <label>Overall Description <span class="text-danger">*</span></label>
                <div>
                    <textarea class="form-control form-control-user" id="summernote"  autofocus="autofocus" name="overall_description">{{obj.overall_description}}</textarea>
                </div>
            </div>
            <div class="form-group col-12">
                <label>Meta Title <span class="text-danger">*</span></label>
                <input type="text" value="{{obj.meta_title}}" class="form-control form-control-user" name="meta_title" required>
            </div>
            <div class="form-group col-12">
                <label>Meta Description <span class="text-danger">*</span></label>
                <textarea rows="2" class="form-control form-control-user" name="meta_description" required>{{obj.meta_description}}</textarea>
            </div>
            <div class="form-group col-12">
                <label>Meta Keywords <span class="text-danger">*</span></label>
                <textarea rows="3" class="form-control form-control-user" name="meta_keywords" required>{{obj.meta_keywords}}</textarea>
            </div>
            <div class="col-12 text-center pt-4">
                <input type="submit" class="btn-lg btn-primary border-0 bg-primary tex-white px-4">
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    $(document).ready(function() {

        var image="{{obj.image}}";
        if(image==""){
            $("#uploadImage").attr("required","true");
        }

        $('textarea#summernote').summernote({
            tabsize: 2,
            height: 100,
            toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr']],
                    ['help', ['help']]
                ],
          });
        
        $("form").submit(function(event){
            if($('textarea#summernote').summernote('isEmpty')) {
                alert('over all description is empty, fill it!');
                event.preventDefault();
              }
        });
    });
    </script>
{% endblock script %}
