{% extends 'admin_dashboard_base.html' %}
{% block content %}
<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create Event</h1>
        <a href="{% url 'admin_dashboard:events-list' %}" class="d-inline-block btn btn-sm btn-warning shadow-sm"><i
                    class="fas fa-caret-square-left fa-sm text-white-50 pr-1"></i> Back</a>
    </div>
    <div class="p-4">
        <div class="p-4">
            <form class="user row" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-group col-sm-6">
                    <label>Event Title <span class="text-danger">*</span></label>
                    <input type="text" name="title" maxlength="240" class="form-control form-control-user" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Event Label <span class="text-danger">*</span></label>
                    <input type="text" name="label" maxlength="240" class="form-control form-control-user" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Event Date <span class="text-danger">*</span></label>
                    <input type="date" name="event_date" class="form-control form-control-user" required>
                </div>
                <div class="form-group col-sm-6">
                    <label>Event Meeting Link</label>
                    <input type="text" maxlength="180" name="meeting_link" class="form-control form-control-user">
                </div>
                <div class="form-group col-sm-6">
                    <label>Upload Image <span class="text-danger">acceptable image size is {{img_size}}*</span></label>
                    <input class="form-control form-control-lg" name="upload_image" type="file" required accept="image/png, image/jpeg">
                </div>
                <div class="form-group col-sm-6">
                    <label>Image Alt Name <span class="text-danger">*</span></label>
                    <input type="text" maxlength="50" name="upload_image_alt_name" class="form-control form-control-user" required>
                </div>
                <div class="col-12 text-center pt-4">
                    <input type="submit" class="btn-lg btn-primary border-0 bg-primary tex-white px-4">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}