{% extends 'admin_dashboard_base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit News</h1>
        <a href="{% url 'admin_dashboard:news-list' %}" class="d-inline-block btn btn-sm btn-warning shadow-sm"><i
                    class="fas fa-caret-square-left fa-sm text-white-50 pr-1"></i> Back</a>
    </div>
    <div class="p-4">
         <form class="user row" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group col-12">
                <label>Event Date <span class="text-danger">*</span></label>
                <input type="date" name="event_date" value="{{obj.event_date|date:"Y-m-d"}}" class="form-control form-control-user" required>
            </div>
            <div class="form-group col-sm-6">
                <label>Upload Image <span class="text-danger"></span>{% if obj.image %}<a target="_blank" href="{{obj.image.url}}">{{obj.image.url}}</a>{% endif %}</label>
                <input id="uploadImage" class="form-control form-control-lg" name="upload_image" type="file" accept="image/png, image/jpeg">
            </div>
            <div class="form-group col-sm-6">
                <label>Image Alt Name <span class="text-danger"></span></label>
                <input type="text" maxlength="50" value={{obj.image_alt_name}} name="upload_image_alt_name" class="form-control form-control-user">
            </div>
            <div class="form-group col-12">
                <label>Description <span class="text-danger">*</span></label>
                <textarea rows="3"   name="description" class="form-control form-control-user" required>{{obj.description}}</textarea>
            </div>
            <div class="col-12 text-center pt-4">
                <input type="submit" class="btn-lg btn-primary border-0 bg-primary tex-white px-4">
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function() {
        var image="{{obj.image}}";
        if(image==""){
            $("#uploadImage").attr("required","true");
        }

    });
    </script>
{% endblock script %}