{% extends 'admin_dashboard_base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Edit Testimonials</h1>
        <a href="{% url 'admin_dashboard:testimonials-list' %}" class="d-inline-block btn btn-sm btn-warning shadow-sm"><i
                    class="fas fa-caret-square-left fa-sm text-white-50 pr-1"></i> Back</a>
    </div>
    <div class="p-4">
        <form class="user row" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="form-group col-sm-6">
                <label>Client Name <span class="text-danger">*</span></label>
                <input type="text" maxlength="50" name="client_name" value="{{obj.client_name}}" class="form-control form-control-user" required>
            </div>
            <div class="form-group col-sm-6">
                <label>Client Role <span class="text-danger">*</span></label>
                <input type="text" maxlength="50"  name="client_role" value="{{obj.client_role}}" class="form-control form-control-user" required>
            </div>
            <div class="form-group col-sm-6">
                <label>Upload Image <span class="text-danger">acceptable image size is {{img_size}} </span>{% if obj.image %}<a target="_blank" href="{{obj.image.url}}">{{obj.image.url}}</a>{% endif %}</label>
                <input class="form-control form-control-lg" name="upload_image" type="file">
            </div>
            <div class="form-group col-sm-6">
                <label>Image Alt Name <span class="text-danger">*</span></label>
                <input type="text" maxlength="50" name="upload_image_alt_name" value="{{obj.image_alt_name}}" class="form-control form-control-user" required>
            </div>
            <div class="form-group col-12">
                <label>Description <span class="text-danger">*</span></label>
                <textarea rows="3" name="description" class="form-control form-control-user" required>{{obj.description}}</textarea>
            </div>
            <div class="form-group col-12">
                <label>Assign This Testimonial Us Pagewise <span class="text-danger">*</span></label>
                <select name="assigned_pages" class="form-control selectpicker" multiple required>
                    <option {% if 'Global' in obj.assigned_pages %}selected{% endif %} value="Global">Global</option>
                    <option {% if 'Class' in obj.assigned_pages %}selected{% endif %} value="Class">Class</option>
                    <option {% if 'Subject' in obj.assigned_pages %}selected{% endif %} value="Subject">Subject</option>
                    <option {% if 'Paper' in obj.assigned_pages %}selected{% endif %} value="Paper">Paper</option>
                </select>
            </div>
            <div class="col-12 text-center pt-4">
                <input type="submit" class="btn-lg btn-primary border-0 bg-primary tex-white px-4">
            </div>
        </form>
    </div>
</div>
{% endblock content %}