{% extends 'admin_dashboard_base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Create Paper</h6>
            <div>
                <a href="{% url 'admin_dashboard:clsm-add-paper' cls_id sub_id %}" class="d-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50 pr-1"></i> Add Paper</a>
                <a href="{% url 'admin_dashboard:clsm-subjects-list' cls_id %}" class="d-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-caret-square-left fa-sm text-white-50 pr-1"></i> Back</a>
            </div>
            </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Title</th>
                            <th>Total Questions</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objs %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{obj.title}}</td>
                            <td>{{obj.assigned_questions.count}}</td>
                            <td>
                                <a href="{% url 'admin_dashboard:clsm-edit-paper' cls_id sub_id obj.id %}" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-edit fa-sm text-white-50"></i></a>
                                <a href="javascript:void(0);" data="{{obj.id}}" class="btn btn-danger btn-circle btn-sm deleteItem"><i class="fas fa-trash"></i></a>
                                <a href="{% url 'admin_dashboard:clsm-questions-list' cls_id sub_id obj.id %}" class="btn btn-success btn-sm">View Questions</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paperAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Create Paper</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user row" method="post">
                    {% csrf_token %}
                    <div class="form-group col-12">
                        <label>Paper Title <span class="text-danger">*</span></label>
                        <input name="paper_title" type="text" class="form-control form-control-user" required>
                    </div>
                    <div class="form-group col-12">
                        <label>Paper Description <span class="text-danger">*</span></label>
                        <textarea name="paper_description" rows="1" class="form-control form-control-user" required></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label>Price <span class="text-danger">*</span></label>
                        <input name="price" type="number" class="form-control form-control-user" required>
                    </div>
                    <div class="form-group col-12">
                        <label>Repay Price <span class="text-danger">*</span></label>
                        <input name="repay_price" type="number" class="form-control form-control-user" required>
                    </div>
                    <div class="customer_records form-group col-12">
                        <div class="row">
                            <div class="form-group col-5">
                                <label>Section Name <span class="text-danger">*</span></label>
                                <input name="section_name" maxlength="20" type="text" class="form-control form-control-user" required>
                            </div>
                            <div class="form-group col-5">
                                <label>Section Description <span class="text-danger">*</span></label>
                                <textarea name="section_description" id="meta_keywords" rows="1" class="form-control form-control-user" required></textarea>
                            </div>
                            
                        </div>
                        <div class="form-group col-2">
                            <a class="extra-fields-customer" href="#">Add More Section</a>
                        </div>
                    </div>
                    <div class="customer_records_dynamic form-group col-12"></div>
                    
                    <div class="form-group col-12">
                        <label>General Instructions <span class="text-danger">*</span></label>
                        <div>
                            <textarea class="form-control form-control-user" id="summernote"  autofocus="autofocus" name="general_instructions"></textarea>
                        </div>
                    </div>
                    
                    <div class="col-12 text-center pt-4">
                        <input type="submit" id="addForm" class="btn-lg btn-primary border-0 bg-primary tex-white px-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paperEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Edit Paper</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user row" method="post" id="editForm">
                    {% csrf_token %}
                    <div class="form-group col-12">
                        <label>Paper Title <span class="text-danger">*</span></label>
                        <input id="paper_title" name="paper_title" type="text" class="form-control form-control-user" required>
                    </div>
                    <div class="form-group col-12">
                        <label>Paper Description <span class="text-danger">*</span></label>
                        <textarea id="paper_description" name="paper_description" rows="1" class="form-control form-control-user" required></textarea>
                    </div>
                    
                    <div class="form-group col-12">
                        <label>Price <span class="text-danger">*</span></label>
                        <input name="price" id="price" type="number" class="form-control form-control-user" required>
                    </div>
                    
                    <div class="form-group col-12">
                        <label>Repay Price <span class="text-danger">*</span></label>
                        <input name="repay_price" id="repay_price" type="number" class="form-control form-control-user" required>
                    </div>

                    <div class="da form-group col-12">
                        {% comment %} <div class="row">
                            <div class="form-group col-5">
                                <label>Section Name <span class="text-danger">*</span></label>
                                <input name="section_name" maxlength="20" type="text" class="form-control form-control-user" required>
                            </div>
                            <div class="form-group col-5">
                                <label>Section Description <span class="text-danger">*</span></label>
                                <textarea name="section_description" id="meta_keywords" rows="1" class="form-control form-control-user" required></textarea>
                            </div>
                            
                        </div>
                        <div class="form-group col-2">
                            <a class="editExtra-fields-customer" href="#">Add More Section</a>
                        </div> {% endcomment %}
                    </div>
                    <div class="editCustomer_records_dynamic form-group col-12"></div>

                    <div class="form-group col-12">
                        <label>General Instructions <span class="text-danger">*</span></label>
                        <div>
                            <textarea name="general_instructions" class="form-control form-control-user" id="summernoteEdit"  autofocus="autofocus"></textarea>
                        </div>
                    </div>
                    <input type="hidden" id="idValue" name="id">
                    <div class="col-12 text-center pt-4">
                        <input type="submit" id="editFormBtn" name="edit_form" class="btn-lg btn-primary border-0 bg-primary tex-white px-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}

<script>
    $(document).ready(function() {
        $('textarea#summernote').summernote({
            tabsize: 2,
            height: 100,
            toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr']],
                    ['help', ['help']]
                ],
        });

        $('textarea#summernoteEdit').summernote({
            tabsize: 2,
            height: 100,
            toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr']],
                    ['help', ['help']]
                ],
        });
        
        $("#addForm").click(function(){
            $("form").submit(function(event){
                if($('textarea#summernote').summernote('isEmpty')) {
                    alert('General instructions is empty, fill it!');
                    event.preventDefault();
                  }
            });
        });
        
        $("#editFormBtn").click(function(){
            if($('textarea#summernoteEdit').summernote('isEmpty')) {
                alert('General instructions is empty, fill it!');
              }
              else{
                $("#editForm").submit();
              }
        });
        
    
    });


    $(".deleteItem").click(function(){
        let text = "Do you want to delete ?";
        var objId = $(this).attr("data");
        if (confirm(text) == true) {
            text = "You pressed OK!";
            $.ajax({
                type: 'post',
                headers: {
                    'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
                },
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action:"delete",
                    objId:objId
                },
                dataType: 'json',
                success: function (response) {
                    location.reload();
                },
                error: function(response) {
                   alert("Something Wrong");
                }
            });
        }
    });


    $(".editItem").click(function(){
        var objId = $(this).attr("data");
        $.ajax({
            type: 'post',
            headers: {
                'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
            },
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action:"retrieve",
                objId:objId
            },
            dataType: 'json',
            success: function (response) {
                var section_details = response["obj"]["section_details"];
                
                for(var i=0;i<section_details.length;i++){
                    var arr = section_details[i];
                    var jA = JSON.parse(arr);
                    console.log(jA);
                    if(i<=0){
                        var html = `
                        <div class="editCustomer_records form-group col-12">
                        <div class="row">
                            <div class="form-group col-5">
                                <label>Section Name <span class="text-danger">*</span></label>
                                <input name="section_name" value="${jA["name"]}" maxlength="20" type="text" class="form-control form-control-user" required>
                            </div>
                            <div class="form-group col-5">
                                <label>Section Description <span class="text-danger">*</span></label>
                                <textarea name="section_description" id="meta_keywords" rows="1" class="form-control form-control-user" required>${jA["description"]}</textarea>
                            </div>
                            
                        </div>
                        <div class="form-group col-2">
                            <a class="editExtra-fields-customer" href="#">Add More Section</a>
                        </div>
                    </div>
                        `;
                    }else{
                        var html = `
                        <div class="editCustomer_records form-group col-12">
                        <div class="row">
                            <div class="form-group col-5">
                                <label>Section Name <span class="text-danger">*</span></label>
                                <input name="section_name" value="${jA["name"]}" maxlength="20" type="text" class="form-control form-control-user" required>
                            </div>
                            <div class="form-group col-5">
                                <label>Section Description <span class="text-danger">*</span></label>
                                <textarea name="section_description" id="meta_keywords" rows="1" class="form-control form-control-user" required>${jA["description"]}</textarea>
                            </div>
                            
                        </div>
                        <div class="form-group col-2">
                            <a href="#" class="remove-field btn-remove-customer">Remove Section</a>
                        </div>
                    </div>
                        `;
                    }
                    $(".da").append(html);
                    

                }

                $("#paper_title").val(response["obj"]["title"]);
                $("#paper_description").text(response["obj"]["description"]);
                $("#price").val(response["obj"]["price"]);
                $("#repay_price").val(response["obj"]["repay_price"]);
        
                $('#summernoteEdit').summernote('code', response["obj"]["instructions"]);
            
                $("#idValue").val(response["obj"]["id"]);
                $('#paperEdit').modal('show'); 
            },
            error: function(response) {
               alert("Something Wrong");
            }
        });
    });

    $('.extra-fields-customer').click(function() {
        $('.customer_records').clone().appendTo('.customer_records_dynamic');
        $('.customer_records_dynamic .customer_records').addClass('single remove');
        $('.single .extra-fields-customer').remove();
        $('.single').append('<a href="#" class="remove-field btn-remove-customer">Remove Section</a>');
        $('.customer_records_dynamic > .single').attr("class", "remove");
      });
      
      $(document).on('click', '.remove-field', function(e) {
        $(this).parent('.remove').remove();
        e.preventDefault();
      });

      $('.editExtra-fields-customer').click(function() {
        $('.editCustomer_records').clone().appendTo('.editCustomer_records_dynamic');
        $('.editCustomer_records_dynamic .editCustomer_records').addClass('single remove');
        $('.single .editExtra-fields-customer').remove();
        $('.single').append('<a href="#" class="remove-field btn-remove-customer">Remove Section</a>');
        $('.editCustomer_records_dynamic > .single').attr("class", "remove");
      });
      
      $(document).on('click', '.remove-field', function(e) {
        $(this).parent('.remove').remove();
        e.preventDefault();
      });


    </script>
{% endblock script %}